conn/advs/AdVManagement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- gematik revision="\main\rel_online\rel_ors2\3" -->
<!-- Mit XMLSpy v2014 rel. 2 sp1 (http://www.altova.com) von Gematik GmbH (Gematik) bearbeitet -->
<definitions xmlns:ADVM="http://ws.gematik.de/conn/adv/AdVManagement/v1.0" xmlns:GERROR="http://ws.gematik.de/tel/error/v2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://ws.gematik.de/conn/ConnectorCommon/v5.0" xmlns:ns2="http://ws.gematik.de/conn/ConnectorContext/v2.0" xmlns:ns4="http://www.w3.org/2000/09/xmldsig#" xmlns:ns5="urn:oasis:names:tc:SAML:1.0:assertion" xmlns:ns6="urn:oasis:names:tc:dss:1.0:core:schema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns7="http://ws.gematik.de/int/version/ProductInformation/v1.1" xmlns:ns8="http://ws.gematik.de/ksr/v1.1" xmlns:ns="http://ws.gematik.de/conn/CardServiceCommon/v2.0" name="ADVM" targetNamespace="http://ws.gematik.de/conn/adv/AdVManagement/v1.0">
	<documentation> Copyright (c) 2016, gematik - Gesellschaft für Telematikanwendungen der Gesundheitskarte mbH. Alle Rechte vorbehalten. Beschreibung: Dienst für Anwendungen des Versicherten</documentation>
	<types>
		<xs:schema xmlns:ns7="http://schemas.xmlsoap.org/wsdl/">
			<xs:import namespace="http://ws.gematik.de/conn/adv/AdVManagement/v1.0" schemaLocation="AdVManagement.xsd"/>
			<xs:import namespace="http://ws.gematik.de/tel/error/v2.0" schemaLocation="../../tel/error/TelematikError.xsd"/>
		</xs:schema>
	</types>
	<message name="AdVReadyRequestmessage">
		<part name="parameter" element="ADVM:AdVReady"/>
	</message>
	<message name="AdVReadyResponseMessage">
		<part name="parameter" element="ADVM:AdVReadyResponse"/>
	</message>
	<message name="VerifyPinSmcRequestmessage">
		<part name="parameter" element="ADVM:VerifyPinSmc"/>
	</message>
	<message name="VerifyPinSmcResponseMessage">
		<part name="parameter" element="ADVM:VerifyPinSmcResponse"/>
	</message>
	<message name="ListAvailableUpdatesRequestMessage">
		<part name="parameter" element="ADVM:ListAvailableUpdates"/>
	</message>
	<message name="ListAvailableUpdatesResponseMessage">
		<part name="parameter" element="ADVM:ListAvailableUpdatesResponse"/>
	</message>
	<message name="GetUpdatesRequestMessage">
		<part name="parameter" element="ADVM:GetUpdates"/>
	</message>
	<message name="GetUpdatesResponseMessage">
		<part name="parameter" element="ADVM:GetUpdates"/>
	</message>
	<message name="FaultMessage">
		<part name="parameter" element="GERROR:Error"/>
	</message>
	<portType name="AdVManagementPortType">
		<operation name="AdVReady">
			<input message="ADVM:AdVReadyRequestmessage"/>
			<output message="ADVM:AdVReadyResponseMessage"/>
			<fault name="FaultMessage" message="ADVM:FaultMessage"/>
		</operation>
		<operation name="VerifyPinSmc">
			<input message="ADVM:VerifyPinSmcRequestmessage"/>
			<output message="ADVM:VerifyPinSmcResponseMessage"/>
			<fault name="FaultMessage" message="ADVM:FaultMessage"/>
		</operation>
		<operation name="ListAvailableUpdates">
			<input message="ADVM:ListAvailableUpdatesRequestMessage"/>
			<output message="ADVM:ListAvailableUpdatesResponseMessage"/>
			<fault name="FaultMessage" message="ADVM:FaultMessage"/>
		</operation>
		<operation name="GetUpdates">
			<input message="ADVM:GetUpdatesRequestMessage"/>
			<output message="ADVM:GetUpdatesResponseMessage"/>
			<fault name="FaultMessage" message="ADVM:FaultMessage"/>
		</operation>
	</portType>
	<binding name="AdVManagementBinding" type="ADVM:AdVManagementPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AdVReady">
			<soap:operation soapAction="urn:#AdVReady"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="VerifyPinSmc">
			<soap:operation soapAction="urn:#VerifyPinSmc"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="ListAvailableUpdates">
			<soap:operation soapAction="urn:#ListAvailableUpdates"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="GetUpdates">
			<soap:operation soapAction="urn:#GetUpdates"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="AdVManagement">
		<port name="AdVManagementPort" binding="ADVM:AdVManagementBinding">
			<soap:address location="http://unspecified"/>
		</port>
	</service>
</definitions>
