conn/advs/AdVService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- gematik revision="\main\rel_online\rel_ors2\2" -->
<!-- Mit XMLSpy v2014 rel. 2 sp1 (http://www.altova.com) von Gematik GmbH (Gematik) bearbeitet -->
<definitions xmlns:ADV="http://ws.gematik.de/conn/adv/AdVService/v1.0" xmlns:GERROR="http://ws.gematik.de/tel/error/v2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://ws.gematik.de/conn/CardServiceCommon/v2.0" xmlns:ns1="http://ws.gematik.de/conn/ConnectorCommon/v5.0" xmlns:ns2="http://ws.gematik.de/conn/ConnectorContext/v2.0" xmlns:ns3="http://ws.gematik.de/conn/vsds/VSDService/v5.2" xmlns:ns4="http://www.w3.org/2000/09/xmldsig#" xmlns:ns5="urn:oasis:names:tc:SAML:1.0:assertion" xmlns:ns6="urn:oasis:names:tc:dss:1.0:core:schema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns7="http://ws.gematik.de/int/version/ProductInformation/v1.1" xmlns:ns8="http://ws.gematik.de/ksr/v1.1" xmlns:ns9="http://ws.gematik.de/conn/CertificateService/v6.0" xmlns:ns10="http://ws.gematik.de/conn/CertificateServiceCommon/v2.0" name="ADV" targetNamespace="http://ws.gematik.de/conn/adv/AdVService/v1.0">
	<import namespace="http://ws.gematik.de/conn/adv/AdVService/v1.0" location="AdVService.wsdl"/>
	<documentation> Copyright (c) 2016, gematik - Gesellschaft für Telematikanwendungen der Gesundheitskarte mbH. Alle Rechte vorbehalten. Beschreibung: Dienst für Anwendungen des Versicherten</documentation>
	<types>
		<xs:schema xmlns:ns7="http://schemas.xmlsoap.org/wsdl/">
			<xs:import namespace="http://ws.gematik.de/conn/adv/AdVService/v1.0" schemaLocation="AdVService.xsd"/>
			<xs:import namespace="http://ws.gematik.de/tel/error/v2.0" schemaLocation="../../tel/error/TelematikError.xsd"/>
		</xs:schema>
	</types>
	<message name="ReadDataRequestMessage">
		<part name="parameter" element="ADV:ReadData"/>
	</message>
	<message name="ReadDataResponseMessage">
		<part name="parameter" element="ADV:ReadDataResponse"/>
	</message>
	<message name="FaultMessage">
		<part name="parameter" element="GERROR:Error"/>
	</message>
	<message name="WriteDataRequestMessage">
		<part name="parameter" element="ADV:WriteData"/>
	</message>
	<message name="WriteDataResponseMessage">
		<part name="parameter" element="ADV:WriteDataResponse"/>
	</message>
	<message name="EraseDataRequestMessage">
		<part name="parameter" element="ADV:EraseData"/>
	</message>
	<message name="EraseDataResponseMessage">
		<part name="parameter" element="ADV:EraseDataResponse"/>
	</message>
	<message name="DeactivateApplicationRequestMessage">
		<part name="parameter" element="ADV:DeactivateApplication"/>
	</message>
	<message name="DeactivateApplicationResponseMessage">
		<part name="parameter" element="ADV:DeactivateApplicationResponse"/>
	</message>
	<message name="ActivateApplicationRequestMessage">
		<part name="parameter" element="ADV:ActivateApplication"/>
	</message>
	<message name="ActivateApplicationResponseMessage">
		<part name="parameter" element="ADV:ActivateApplicationResponse"/>
	</message>
	<message name="ChangePinRequestMessage">
		<part name="parameter" element="ADV:ChangePin"/>
	</message>
	<message name="ChangePinResponseMessage">
		<part name="parameter" element="ADV:ChangePinResponse"/>
	</message>
	<message name="UnblockPinRequestMessage">
		<part name="parameter" element="ADV:UnblockPin"/>
	</message>
	<message name="UnblockPinResponseMessage">
		<part name="parameter" element="ADV:UnblockPinResponse"/>
	</message>
	<message name="EnablePinRequestMessage">
		<part name="parameter" element="ADV:EnablePin"/>
	</message>
	<message name="EnablePinResponseMessage">
		<part name="parameter" element="ADV:EnablePinResponse"/>
	</message>
	<message name="DisablePinRequestMessage">
		<part name="parameter" element="ADV:DisablePin"/>
	</message>
	<message name="DisablePinResponseMessage">
		<part name="parameter" element="ADV:DisablePinResponse"/>
	</message>
	<message name="StartAdVSessionRequestMessage">
		<part name="parameter" element="ADV:StartAdVSession"/>
	</message>
	<message name="StartAdVSessionResponseMessage">
		<part name="parameter" element="ADV:StartAdVSessionResponse"/>
	</message>
	<message name="QuitAdVRequestmessage">
		<part name="parameter" element="ADV:QuitAdV"/>
	</message>
	<message name="QuitAdVResponseMessage">
		<part name="parameter" element="ADV:QuitAdVResponse"/>
	</message>
	<message name="CopyDataRequestMessage">
		<part name="parameter" element="ADV:CopyData"/>
	</message>
	<message name="CopyDataResponseMessage">
		<part name="parameter" element="ADV:CopyDataResponse"/>
	</message>
	<portType name="ADVServicePortType">
		<operation name="ReadData">
			<input message="ADV:ReadDataRequestMessage"/>
			<output message="ADV:ReadDataResponseMessage"/>
			<fault name="FaultMessage" message="ADV:FaultMessage"/>
		</operation>
		<operation name="WriteData">
			<input message="ADV:WriteDataRequestMessage"/>
			<output message="ADV:WriteDataResponseMessage"/>
			<fault name="FaultMessage" message="ADV:FaultMessage"/>
		</operation>
		<operation name="EraseData">
			<input message="ADV:EraseDataRequestMessage"/>
			<output message="ADV:EraseDataResponseMessage"/>
			<fault name="FaultMessage" message="ADV:FaultMessage"/>
		</operation>
		<operation name="DeactivateApplication">
			<input message="ADV:DeactivateApplicationRequestMessage"/>
			<output message="ADV:DeactivateApplicationResponseMessage"/>
			<fault name="FaultMessage" message="ADV:FaultMessage"/>
		</operation>
		<operation name="ActivateApplication">
			<input name="ActivateApplicationRequestMessage" message="ADV:ActivateApplicationRequestMessage"/>
			<output name="ActivateApplicationResponseMessage" message="ADV:ActivateApplicationResponseMessage"/>
			<fault name="FaultMessage" message="ADV:FaultMessage"/>
		</operation>
		<operation name="ChangePin">
			<input message="ADV:ChangePinRequestMessage"/>
			<output message="ADV:ChangePinResponseMessage"/>
			<fault name="FaultMessage" message="ADV:FaultMessage"/>
		</operation>
		<operation name="UnblockPin">
			<input message="ADV:UnblockPinRequestMessage"/>
			<output message="ADV:UnblockPinResponseMessage"/>
			<fault name="FaultMessage" message="ADV:FaultMessage"/>
		</operation>
		<operation name="EnablePin">
			<input message="ADV:EnablePinRequestMessage"/>
			<output message="ADV:EnablePinResponseMessage"/>
			<fault name="FaultMessage" message="ADV:FaultMessage"/>
		</operation>
		<operation name="DisablePin">
			<input message="ADV:DisablePinRequestMessage"/>
			<output message="ADV:DisablePinResponseMessage"/>
			<fault name="FaultMessage" message="ADV:FaultMessage"/>
		</operation>
		<operation name="StartAdVSession">
			<input message="ADV:StartAdVSessionRequestMessage"/>
			<output message="ADV:StartAdVSessionResponseMessage"/>
			<fault name="FaultMessage" message="ADV:FaultMessage"/>
		</operation>
		<operation name="QuitAdV">
			<input message="ADV:QuitAdVRequestmessage"/>
			<output message="ADV:QuitAdVResponseMessage"/>
			<fault name="FaultMessage" message="ADV:FaultMessage"/>
		</operation>
		<operation name="CopyData">
			<input message="ADV:CopyDataRequestMessage"/>
			<output message="ADV:CopyDataResponseMessage"/>
			<fault name="FaultMessage" message="ADV:FaultMessage"/>
		</operation>
	</portType>
	<binding name="ADVServiceBinding" type="ADV:ADVServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ReadData">
			<soap:operation soapAction="urn:#ReadData"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="WriteData">
			<soap:operation soapAction="urn:#WriteData"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="EraseData">
			<soap:operation soapAction="urn:#EraseData"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="DeactivateApplication">
			<soap:operation soapAction="urn:#DeactivateApplication"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="ActivateApplication">
			<soap:operation soapAction="urn:#ActivateApplication"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="ChangePin">
			<soap:operation soapAction="urn:#ChangePin"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="UnblockPin">
			<soap:operation soapAction="urn:#UnblockPin"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="EnablePin">
			<soap:operation soapAction="urn:#EnablePin"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="DisablePin">
			<soap:operation soapAction="urn:#DisablePin"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="StartAdVSession">
			<soap:operation soapAction="urn:#StartAdVSession"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="QuitAdV">
			<soap:operation soapAction="urn:#QuitAdV"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="CopyData">
			<soap:operation soapAction="urn:#CopyData"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="ADVService">
		<port name="ADVServicePort" binding="ADV:ADVServiceBinding">
			<soap:address location="http://unspecified"/>
		</port>
	</service>
</definitions>
