ext/ebRS/rim.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- gematik revision="\main\rel_ors2\1" -->
<!-- $Header: /cvsroot/ebxmlrr/ebxmlrr-spec/misc/3.0/schema/rim.xsd,v 1.20 2005/02/03 19:28:15 farrukh_najmi Exp $ -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" xmlns:xml="http://www.w3.org/XML/1998/namespace" targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <annotation>
        <documentation xml:lang="en">The schema for OASIS ebXML Registry Information Model</documentation>
    </annotation>
    <import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="../xml.xsd"/>
    <!-- Begin information model mapping from ebRIM. -->
    <!-- Define Data Types -->
    <simpleType name="referenceURI">
        <annotation>
            <documentation xml:lang="en">
        referenceURI is used by reference attributes within RIM.
        Each attribute of type referenceURI references a RegistryObject with
        specified URI as id.
      </documentation>
        </annotation>
        <restriction base="anyURI"/>
    </simpleType>
    <simpleType name="String4">
        <restriction base="string">
            <maxLength value="4"/>
        </restriction>
    </simpleType>
    <simpleType name="String8">
        <restriction base="string">
            <maxLength value="8"/>
        </restriction>
    </simpleType>
    <simpleType name="String16">
        <restriction base="string">
            <maxLength value="16"/>
        </restriction>
    </simpleType>
    <simpleType name="String32">
        <restriction base="string">
            <maxLength value="32"/>
        </restriction>
    </simpleType>
    <simpleType name="ShortName">
        <restriction base="string">
            <maxLength value="64"/>
        </restriction>
    </simpleType>
    <simpleType name="LongName">
        <restriction base="string">
            <maxLength value="256"/>
        </restriction>
    </simpleType>
    <simpleType name="FreeFormText">
        <restriction base="string">
            <maxLength value="1024"/>
        </restriction>
    </simpleType>
    <complexType name="InternationalStringType">
        <sequence minOccurs="0" maxOccurs="unbounded">
            <element ref="tns:LocalizedString"/>
        </sequence>
    </complexType>
    <element name="InternationalString" type="tns:InternationalStringType"/>
    <element name="Name" type="tns:InternationalStringType"/>
    <element name="Description" type="tns:InternationalStringType"/>
    <complexType name="LocalizedStringType">
        <attribute ref="xml:lang" default="en-US"/>
        <attribute name="charset" default="UTF-8"/>
        <attribute name="value" type="tns:FreeFormText" use="required"/>
    </complexType>
    <element name="LocalizedString" type="tns:LocalizedStringType"/>
    <complexType name="SlotType1">
        <sequence>
            <element ref="tns:ValueList" minOccurs="1" maxOccurs="1"/>
        </sequence>
        <attribute name="name" type="tns:LongName" use="required"/>
        <attribute name="slotType" type="tns:referenceURI" use="optional"/>
        <!--slotType value MUST reference a ClassificationNode in the canonical DataType scheme-->
    </complexType>
    <element name="Slot" type="tns:SlotType1"/>
    <complexType name="ValueListType">
        <sequence minOccurs="0" maxOccurs="unbounded">
            <element ref="tns:Value"/>
        </sequence>
    </complexType>
    <element name="ValueList" type="tns:ValueListType"/>
    <element name="Value" type="tns:LongName"/>
    <complexType name="SlotListType">
        <sequence>
            <element ref="tns:Slot" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    <element name="SlotList" type="tns:SlotListType"/>
    <complexType name="IdentifiableType">
        <annotation>
            <documentation xml:lang="en">
        Common base type for all types that have unique identity.     
        If id is provided and is not in proper URN syntax then it is used for
        linkage within document and is ignored by the registry. In this case the
        registry generates a UUID URN for id attribute.
        id must not be null when object is retrieved from the registry.
      </documentation>
        </annotation>
        <sequence>
            <element ref="tns:Slot" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="id" type="anyURI" use="required"/>
        <attribute name="home" type="anyURI" use="optional"/>
        <!-- home attribute is required only for remote ObjectRef -->
    </complexType>
    <element name="Identifiable" type="tns:IdentifiableType"/>
    <complexType name="ObjectRefType">
        <annotation>
            <documentation xml:lang="en">
        Use to reference an Object by its id.
        Specifies the id attribute of the object as its id attribute.
        id attribute in ObjectAttributes is exactly the same syntax and semantics as
        id attribute in RegistryObject.
      </documentation>
        </annotation>
        <complexContent>
            <extension base="tns:IdentifiableType">
                <attribute name="createReplica" type="boolean" default="false"/>
            </extension>
            <!-- When true and is a remote ObjectRef then the registry must create a replica for this ObjectRef -->
        </complexContent>
    </complexType>
    <complexType name="ObjectRefListType">
        <sequence minOccurs="0" maxOccurs="unbounded">
            <element ref="tns:ObjectRef"/>
        </sequence>
    </complexType>
    <element name="ObjectRefList" type="tns:ObjectRefListType"/>
    <element name="ObjectRef" type="tns:ObjectRefType" substitutionGroup="tns:Identifiable"/>
    <complexType name="RegistryObjectType">
        <complexContent>
            <extension base="tns:IdentifiableType">
                <sequence minOccurs="0" maxOccurs="1">
                    <element ref="tns:Name" minOccurs="0" maxOccurs="1"/>
                    <element ref="tns:Description" minOccurs="0" maxOccurs="1"/>
                    <element name="VersionInfo" type="tns:VersionInfoType" minOccurs="0" maxOccurs="1"/>
                    <element ref="tns:Classification" minOccurs="0" maxOccurs="unbounded"/>
                    <element ref="tns:ExternalIdentifier" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="lid" type="anyURI" use="optional"/>
                <attribute name="objectType" type="tns:referenceURI" use="optional"/>
                <attribute name="status" type="tns:referenceURI" use="optional"/>
            </extension>
        </complexContent>
    </complexType>
    <element name="RegistryObject" type="tns:RegistryObjectType" substitutionGroup="tns:Identifiable"/>
    <complexType name="RegistryObjectListType">
        <sequence>
            <element ref="tns:Identifiable" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    <element name="RegistryObjectList" type="tns:RegistryObjectListType"/>
    <complexType name="AssociationType1">
        <annotation>
            <documentation xml:lang="en">
        Association is the mapping of the same named interface in ebRIM.
        It extends RegistryObject.
        An Association specifies references to two previously submitted
        registry entrys.
        The sourceObject is id of the sourceObject in association
        The targetObject is id of the targetObject in association
      </documentation>
        </annotation>
        <complexContent>
            <extension base="tns:RegistryObjectType">
                <attribute name="associationType" type="tns:referenceURI" use="required"/>
                <attribute name="sourceObject" type="tns:referenceURI" use="required"/>
                <attribute name="targetObject" type="tns:referenceURI" use="required"/>
            </extension>
        </complexContent>
    </complexType>
    <element name="Association" type="tns:AssociationType1" substitutionGroup="tns:Identifiable"/>
    <complexType name="AuditableEventType">
        <annotation>
            <documentation xml:lang="en">An Event that forms an audit trail in ebXML Registry.</documentation>
        </annotation>
        <complexContent>
            <extension base="tns:RegistryObjectType">
                <sequence>
                    <!-- List of all objects that have been effected by this event -->
                    <element name="affectedObjects" type="tns:ObjectRefListType" minOccurs="1" maxOccurs="1"/>
                </sequence>
                <attribute name="eventType" type="tns:referenceURI" use="required"/>
                <attribute name="timestamp" type="dateTime" use="required"/>
                <attribute name="user" type="tns:referenceURI" use="required"/>
                <attribute name="requestId" type="tns:referenceURI" use="required"/>
            </extension>
        </complexContent>
    </complexType>
    <element name="AuditableEvent" type="tns:AuditableEventType" substitutionGroup="tns:Identifiable"/>
    <complexType name="ClassificationType">
        <annotation>
            <documentation xml:lang="en">
        Classification is the mapping of the same named interface in ebRIM.
        It extends RegistryObject.
        A Classification specifies references to two registry entrys.
        The classifiedObject is id of the Object being classified.
        The classificationNode is id of the ClassificationNode classying the object
      </documentation>
        </annotation>
        <complexContent>
            <extension base="tns:RegistryObjectType">
                <attribute name="classificationScheme" type="tns:referenceURI" use="optional"/>
                <attribute name="classifiedObject" type="tns:referenceURI" use="required"/>
                <attribute name="classificationNode" type="tns:referenceURI" use="optional"/>
                <attribute name="nodeRepresentation" type="tns:LongName" use="optional"/>
            </extension>
        </complexContent>
    </complexType>
    <element name="Classification" type="tns:ClassificationType" substitutionGroup="tns:Identifiable"/>
    <complexType name="ClassificationNodeType">
        <annotation>
            <documentation xml:lang="en">
        ClassificationNode is the mapping of the same named interface in ebRIM.
        It extends RegistryObject.
        ClassificationNode is used to submit a Classification tree to the Registry.
        The parent attribute is the id to the parent node. code is an optional code value for a ClassificationNode
        often defined by an external taxonomy (e.g. NAICS)
      </documentation>
        </annotation>
        <complexContent>
            <extension base="tns:RegistryObjectType">
                <sequence>
                    <element ref="tns:ClassificationNode" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="parent" type="tns:referenceURI" use="optional"/>
                <attribute name="code" type="tns:LongName" use="optional"/>
                <attribute name="path" type="string" use="optional"/>
            </extension>
        </complexContent>
    </complexType>
    <element name="ClassificationNode" type="tns:ClassificationNodeType" substitutionGroup="tns:Identifiable"/>
    <complexType name="ClassificationSchemeType">
        <annotation>
            <documentation xml:lang="en">
        ClassificationScheme is the mapping of the same named interface in ebRIM.
        It extends RegistryObject.
      </documentation>
        </annotation>
        <complexContent>
            <extension base="tns:RegistryObjectType">
                <sequence>
                    <element ref="tns:ClassificationNode" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="isInternal" type="boolean" use="required"/>
                <attribute name="nodeType" type="tns:referenceURI" use="required"/>
            </extension>
        </complexContent>
    </complexType>
    <element name="ClassificationScheme" type="tns:ClassificationSchemeType" substitutionGroup="tns:Identifiable"/>
    <complexType name="ExternalIdentifierType">
        <annotation>
            <documentation xml:lang="en">
        ExternalIdentifier is the mapping of the same named interface in ebRIM.
        It extends RegistryObject.
      </documentation>
        </annotation>
        <complexContent>
            <extension base="tns:RegistryObjectType">
                <attribute name="registryObject" type="tns:referenceURI" use="required"/>
                <attribute name="identificationScheme" type="tns:referenceURI" use="required"/>
                <attribute name="value" type="tns:LongName" use="required"/>
            </extension>
        </complexContent>
    </complexType>
    <element name="ExternalIdentifier" type="tns:ExternalIdentifierType" substitutionGroup="tns:Identifiable"/>
    <complexType name="ExternalLinkType">
        <annotation>
            <documentation xml:lang="en">
        ExternalLink is the mapping of the same named interface in ebRIM.
        It extends RegistryObject.
      </documentation>
        </annotation>
        <complexContent>
            <extension base="tns:RegistryObjectType">
                <attribute name="externalURI" type="anyURI" use="required"/>
            </extension>
        </complexContent>
    </complexType>
    <element name="ExternalLink" type="tns:ExternalLinkType" substitutionGroup="tns:Identifiable"/>
    <complexType name="ExtrinsicObjectType">
        <annotation>
            <documentation xml:lang="en">
        ExtrinsicObject is the mapping of the same named interface in ebRIM.
        It extends RegistryObject.
      </documentation>
        </annotation>
        <complexContent>
            <extension base="tns:RegistryObjectType">
                <sequence>
                    <element name="ContentVersionInfo" type="tns:VersionInfoType" minOccurs="0" maxOccurs="1"/>
                </sequence>
                <attribute name="mimeType" type="tns:LongName" default="application/octet-stream"/>
                <attribute name="isOpaque" type="boolean" default="false"/>
            </extension>
        </complexContent>
    </complexType>
    <!-- Following element decl nneds to be lower case but using upper camel case for backward compatibility -->
    <element name="ExtrinsicObject" type="tns:ExtrinsicObjectType" substitutionGroup="tns:Identifiable"/>
    <element name="Address" type="tns:PostalAddressType"/>
    <complexType name="OrganizationType">
        <annotation>
            <documentation xml:lang="en">Mapping of the same named interface in ebRIM.</documentation>
        </annotation>
        <complexContent>
            <extension base="tns:RegistryObjectType">
                <sequence>
                    <element ref="tns:Address" minOccurs="0" maxOccurs="unbounded"/>
                    <element ref="tns:TelephoneNumber" minOccurs="0" maxOccurs="unbounded"/>
                    <element ref="tns:EmailAddress" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="parent" type="tns:referenceURI"/>
                <attribute name="primaryContact" type="tns:referenceURI" use="optional"/>
            </extension>
        </complexContent>
    </complexType>
    <element name="Organization" type="tns:OrganizationType" substitutionGroup="tns:Identifiable"/>
    <complexType name="PersonNameType">
        <annotation>
            <documentation xml:lang="en">Mapping of the same named interface in ebRIM.</documentation>
        </annotation>
        <attribute name="firstName" type="tns:ShortName" use="optional"/>
        <attribute name="middleName" type="tns:ShortName" use="optional"/>
        <attribute name="lastName" type="tns:ShortName" use="optional"/>
    </complexType>
    <element name="PersonName" type="tns:PersonNameType"/>
    <complexType name="EmailAddressType">
        <annotation>
            <documentation xml:lang="en">Mapping of the same named interface in ebRIM.</documentation>
        </annotation>
        <attribute name="address" type="tns:ShortName" use="required"/>
        <attribute name="type" type="tns:String32" use="optional"/>
    </complexType>
    <element name="EmailAddress" type="tns:EmailAddressType"/>
    <complexType name="PostalAddressType">
        <annotation>
            <documentation xml:lang="en">Mapping of the same named interface in ebRIM.</documentation>
        </annotation>
        <attribute name="city" type="tns:ShortName" use="optional"/>
        <attribute name="country" type="tns:ShortName" use="optional"/>
        <attribute name="postalCode" type="tns:ShortName" use="optional"/>
        <attribute name="stateOrProvince" type="tns:ShortName" use="optional"/>
        <attribute name="street" type="tns:ShortName" use="optional"/>
        <attribute name="streetNumber" type="tns:String32" use="optional"/>
    </complexType>
    <element name="PostalAddress" type="tns:PostalAddressType"/>
    <complexType name="VersionInfoType">
        <attribute name="versionName" type="tns:String16" use="optional" default="1.1"/>
        <attribute name="comment" type="string" use="optional"/>
    </complexType>
    <complexType name="RegistryPackageType">
        <annotation>
            <documentation xml:lang="en">
        RegistryPackage is the mapping of the same named interface in ebRIM.
        It extends RegistryObject.
        A RegistryPackage is a named collection of objects.
      </documentation>
        </annotation>
        <complexContent>
            <extension base="tns:RegistryObjectType">
                <sequence>
                    <element ref="tns:RegistryObjectList" minOccurs="0" maxOccurs="1"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="RegistryPackage" type="tns:RegistryPackageType" substitutionGroup="tns:Identifiable"/>
    <complexType name="ServiceType">
        <complexContent>
            <extension base="tns:RegistryObjectType">
                <sequence>
                    <element ref="tns:ServiceBinding" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="Service" type="tns:ServiceType" substitutionGroup="tns:Identifiable"/>
    <complexType name="ServiceBindingType">
        <complexContent>
            <extension base="tns:RegistryObjectType">
                <sequence>
                    <element ref="tns:SpecificationLink" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="service" type="tns:referenceURI" use="required"/>
                <attribute name="accessURI" type="anyURI" use="optional"/>
                <attribute name="targetBinding" type="tns:referenceURI" use="optional"/>
            </extension>
        </complexContent>
    </complexType>
    <element name="ServiceBinding" type="tns:ServiceBindingType" substitutionGroup="tns:Identifiable"/>
    <complexType name="SpecificationLinkType">
        <complexContent>
            <extension base="tns:RegistryObjectType">
                <sequence>
                    <element ref="tns:UsageDescription" minOccurs="0" maxOccurs="1"/>
                    <element ref="tns:UsageParameter" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="serviceBinding" type="tns:referenceURI" use="required"/>
                <attribute name="specificationObject" type="tns:referenceURI" use="required"/>
            </extension>
        </complexContent>
    </complexType>
    <element name="SpecificationLink" type="tns:SpecificationLinkType" substitutionGroup="tns:Identifiable"/>
    <element name="UsageDescription" type="tns:InternationalStringType"/>
    <element name="UsageParameter" type="tns:FreeFormText"/>
    <complexType name="TelephoneNumberType">
        <annotation>
            <documentation xml:lang="en">TelephoneNumber is the mapping of the same named interface in ebRIM.</documentation>
        </annotation>
        <attribute name="areaCode" type="tns:String8" use="optional"/>
        <attribute name="countryCode" type="tns:String8" use="optional"/>
        <attribute name="extension" type="tns:String8" use="optional"/>
        <attribute name="number" type="tns:String16" use="optional"/>
        <attribute name="phoneType" type="tns:String32" use="optional"/>
    </complexType>
    <element name="TelephoneNumber" type="tns:TelephoneNumberType"/>
    <complexType name="TelephoneNumberListType">
        <sequence>
            <element ref="tns:TelephoneNumber" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    <complexType name="PersonType">
        <annotation>
            <documentation xml:lang="en">Mapping of the same named interface in ebRIM.</documentation>
        </annotation>
        <complexContent>
            <extension base="tns:RegistryObjectType">
                <sequence minOccurs="1" maxOccurs="1">
                    <element ref="tns:Address" minOccurs="0" maxOccurs="unbounded"/>
                    <!-- 
          PersonName is optional because it is not needed in SAML Profile 
          when an external IdentityProvider is used.
          -->
                    <element ref="tns:PersonName" minOccurs="0" maxOccurs="1"/>
                    <element ref="tns:TelephoneNumber" minOccurs="0" maxOccurs="unbounded"/>
                    <element ref="tns:EmailAddress" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="Person" type="tns:PersonType" substitutionGroup="tns:Identifiable"/>
    <complexType name="UserType">
        <annotation>
            <documentation xml:lang="en">Mapping of the same named interface in ebRIM.</documentation>
        </annotation>
        <complexContent>
            <extension base="tns:PersonType"/>
        </complexContent>
    </complexType>
    <element name="User" type="tns:UserType" substitutionGroup="tns:Identifiable"/>
    <complexType name="RegistryType">
        <annotation>
            <documentation xml:lang="en">Mapping of the same named interface in ebRIM.</documentation>
        </annotation>
        <complexContent>
            <extension base="tns:RegistryObjectType">
                <attribute name="operator" type="tns:referenceURI" use="required"/>
                <attribute name="specificationVersion" type="string" use="required"/>
                <attribute name="replicationSyncLatency" type="duration" use="optional" default="P1D"/>
                <attribute name="catalogingLatency" type="duration" use="optional" default="P1D"/>
                <attribute name="conformanceProfile" use="optional" default="registryLite">
                    <simpleType>
                        <restriction base="NCName">
                            <enumeration value="registryFull"/>
                            <enumeration value="registryLite"/>
                        </restriction>
                    </simpleType>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <element name="Registry" type="tns:RegistryType" substitutionGroup="tns:Identifiable"/>
    <complexType name="FederationType">
        <annotation>
            <documentation xml:lang="en">Mapping of the same named interface in ebRIM.</documentation>
        </annotation>
        <complexContent>
            <extension base="tns:RegistryObjectType">
                <attribute name="replicationSyncLatency" type="duration" use="optional" default="P1D"/>
            </extension>
        </complexContent>
    </complexType>
    <element name="Federation" type="tns:FederationType" substitutionGroup="tns:Identifiable"/>
    <complexType name="AdhocQueryType">
        <annotation>
            <documentation xml:lang="en">
      A registry query.
      A QueryExpression child element is not required when invoking a stored query.
      </documentation>
        </annotation>
        <complexContent>
            <extension base="tns:RegistryObjectType">
                <sequence>
                    <element ref="tns:QueryExpression" minOccurs="0" maxOccurs="1"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="AdhocQuery" type="tns:AdhocQueryType" substitutionGroup="tns:RegistryObject"/>
    <complexType name="QueryExpressionType" mixed="true">
        <sequence>
            <!--
      MAY be any query language syntax supported. 
      MUST support FilterQuery. SHOULD support SQLQuery
      -->
            <any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="1"/>
        </sequence>
        <attribute name="queryLanguage" type="tns:referenceURI" use="required"/>
    </complexType>
    <element name="QueryExpression" type="tns:QueryExpressionType"/>
    <complexType name="NotificationType">
        <annotation>
            <documentation>Notification of registry events.</documentation>
        </annotation>
        <complexContent>
            <extension base="tns:RegistryObjectType">
                <sequence>
                    <!--May contain ObjectRefs and RegistryObjects -->
                    <element ref="tns:RegistryObjectList" minOccurs="1" maxOccurs="1"/>
                </sequence>
                <attribute name="subscription" type="tns:referenceURI" use="required"/>
            </extension>
        </complexContent>
    </complexType>
    <element name="Notification" type="tns:NotificationType"/>
    <element name="Action" type="tns:ActionType"/>
    <complexType name="SubscriptionType">
        <annotation>
            <documentation xml:lang="en">A Subscription for specified Events in an ebXML V3+ registry.</documentation>
        </annotation>
        <complexContent>
            <extension base="tns:RegistryObjectType">
                <sequence>
                    <element ref="tns:Action" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="selector" type="tns:referenceURI" use="required"/>
                <attribute name="startTime" type="dateTime" use="optional"/>
                <attribute name="endTime" type="dateTime" use="optional"/>
                <attribute name="notificationInterval" type="duration" use="optional" default="P1D"/>
            </extension>
            <!-- Ref to a AdhocQueryType instance -->
        </complexContent>
    </complexType>
    <element name="Subscription" type="tns:SubscriptionType" substitutionGroup="tns:Identifiable"/>
    <complexType name="ActionType" abstract="true">
        <annotation>
            <documentation>Abstract Base type for all types of Actions.</documentation>
        </annotation>
    </complexType>
    <complexType name="NotifyActionType">
        <annotation>
            <documentation xml:lang="en">Abstract Base type for all types of Notify Actions</documentation>
        </annotation>
        <complexContent>
            <extension base="tns:ActionType">
                <attribute name="notificationOption" type="tns:referenceURI" default="urn:oasis:names:tc:ebxml-regrep:NotificationOptionType:ObjectRefs"/>
                <attribute name="endPoint" type="anyURI" use="required"/>
            </extension>
        </complexContent>
    </complexType>
    <element name="NotifyAction" type="tns:NotifyActionType" substitutionGroup="tns:Action"/>
</schema>
