consumer/EncryptionService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Version History
		version: V1.0.0
			* initiale Version
		version: V2.0.0
			changed namespace CRYPT
		version: V3.0.0
			C_11647: change namespace CRYPT, CRYPTW
	 End of Version History-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:CRYPT="http://ws.gematik.de/consumer/EncryptionService/v3.0" xmlns:CRYPTW="http://ws.gematik.de/consumer/EncryptionService/WSDL/v3.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:GERROR="http://ws.gematik.de/tel/error/v2.0" xmlns:ns="http://ws.gematik.de/consumer/EncryptionService/WSDL/v3.0" targetNamespace="http://ws.gematik.de/consumer/EncryptionService/WSDL/v3.0">
	<documentation>
		Copyright (c) 2019, gematik - Gesellschaft für Telematikanwendungen der Gesundheitskarte mbH. Alle Rechte vorbehalten.
		Beschreibung: Basis-Consumer Verschlüsselung Basisanwendung
</documentation>
	<types>
		<xs:schema>
			<xs:import schemaLocation="EncryptionService.xsd" namespace="http://ws.gematik.de/consumer/EncryptionService/v3.0"/>
			<xs:import schemaLocation="../tel/error/TelematikError.xsd" namespace="http://ws.gematik.de/tel/error/v2.0"/>
		</xs:schema>
	</types>
	<message name="DecryptDocumentRequestMessage">
		<part name="parameter" element="CRYPT:DecryptDocument"/>
	</message>
	<message name="DecryptDocumentResponseMessage">
		<part name="parameter" element="CRYPT:DecryptDocumentResponse"/>
	</message>
	<message name="EncryptDocumentRequestMessage">
		<part name="parameter" element="CRYPT:EncryptDocument"/>
	</message>
	<message name="EncryptDocumentResponseMessage">
		<part name="parameter" element="CRYPT:EncryptDocumentResponse"/>
	</message>
	<message name="FaultMessage">
		<part name="parameter" element="GERROR:Error"/>
	</message>
	<portType name="EncryptionServicePortType">
		<operation name="DecryptDocument">
			<input message="CRYPTW:DecryptDocumentRequestMessage"/>
			<output message="CRYPTW:DecryptDocumentResponseMessage"/>
			<fault name="FaultMessage" message="CRYPTW:FaultMessage"/>
		</operation>
		<operation name="EncryptDocument">
			<input message="CRYPTW:EncryptDocumentRequestMessage"/>
			<output message="CRYPTW:EncryptDocumentResponseMessage"/>
			<fault name="FaultMessage" message="CRYPTW:FaultMessage"/>
		</operation>
	</portType>
	<binding name="EncryptionServiceBinding" type="CRYPTW:EncryptionServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="EncryptDocument">
			<soap:operation soapAction="http://ws.gematik.de/consumer/EncryptionService/v3.0#EncryptDocument"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="DecryptDocument">
			<soap:operation soapAction="http://ws.gematik.de/consumer/EncryptionService/v3.0#DecryptDocument"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="EncryptionService">
		<port name="EncryptionServicePort" binding="CRYPTW:EncryptionServiceBinding">
			<soap:address location="http://ti-consumer/encryptionservice"/>
		</port>
	</service>
</definitions>
