fd/phr/AccountManagementService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2019 sp2 (x64) (http://www.altova.com) von n/a (Gematik) bearbeitet -->
<!-- ===================================================================== -->
<!-- 	                    Copyright (C) 2019 gematik. Alle Rechte vorbehalten.                                        -->
<!-- ===================================================================== -->
<!-- Version History

			version: V1.1 (R4.0.2)
			===========
			*** neue Operation Element GetSignedAuditEvents

			version: V1.0 (R3.1.3)
			===========
			*** Initiale Erstellung

	 End of Version History-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gerror="http://ws.gematik.de/tel/error/v2.0" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://ws.gematik.de/fd/phr/I_Account_Management/v1.0" name="AccountManagementService" targetNamespace="http://ws.gematik.de/fd/phr/I_Account_Management/v1.0">
	<wsdl:documentation>
		Copyright (c) 2019, gematik - Gesellschaft für Telematikanwendungen der Gesundheitskarte mbH. Alle Rechte vorbehalten.
		version=1.0.1 
	</wsdl:documentation>
	<wsdl:types>
		<xs:schema>
			<xs:import schemaLocation="AccountManagementService.xsd" namespace="http://ws.gematik.de/fd/phr/I_Account_Management/v1.0"/>
			<xs:import schemaLocation="../../tel/error/TelematikError.xsd" namespace="http://ws.gematik.de/tel/error/v2.0"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="SuspendAccountRequest_Message">
		<wsdl:part name="body" element="tns:SuspendAccountRequest"/>
	</wsdl:message>
	<wsdl:message name="SuspendAccountResponse_Message">
		<wsdl:part name="body" element="tns:SuspendAccountResponse"/>
	</wsdl:message>
	<wsdl:message name="ResumeAccountRequest_Message">
		<wsdl:part name="body" element="tns:ResumeAccountRequest"/>
	</wsdl:message>
	<wsdl:message name="ResumeAccountResponse_Message">
		<wsdl:part name="body" element="tns:ResumeAccountResponse"/>
	</wsdl:message>
	<wsdl:message name="GetAuditEventsRequestMessage">
		<wsdl:part name="body" element="tns:GetAuditEventsRequest"/>
	</wsdl:message>
	<wsdl:message name="GetAuditEventsResponseMessage">
		<wsdl:part name="body" element="tns:GetAuditEventsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetSignedAuditEventsRequestMessage">
		<wsdl:part name="body" element="tns:GetSignedAuditEventsRequest"/>
	</wsdl:message>
	<wsdl:message name="GetSignedAuditEventsResponseMessage">
		<wsdl:part name="body" element="tns:GetSignedAuditEventsResponse"/>
	</wsdl:message>
	<wsdl:message name="FaultMessage">
		<wsdl:part name="body" element="gerror:Error"/>
	</wsdl:message>
	<wsdl:portType name="I_Account_Management_Insurant_PortType">
		<wsdl:operation name="SuspendAccount">
			<wsdl:input message="tns:SuspendAccountRequest_Message" wsaw:Action="http://ws.gematik.de/fd/phr/I_Account_Management_Insurant/v1.0/SuspendAccount"/>
			<wsdl:output message="tns:SuspendAccountResponse_Message" wsaw:Action="http://ws.gematik.de/fd/phr/I_Account_Management_Insurant/v1.0/SuspendAccountResponse"/>
			<wsdl:fault name="FaultMessage" message="tns:FaultMessage" wsaw:Action="http://ws.gematik.de/fd/phr/I_Account_Management_Insurant/v1.0/SuspendAccountFault"/>
		</wsdl:operation>
		<wsdl:operation name="ResumeAccount">
			<wsdl:input message="tns:ResumeAccountRequest_Message" wsaw:Action="http://ws.gematik.de/fd/phr/I_Account_Management_Insurant/v1.0/ResumeAccount"/>
			<wsdl:output message="tns:ResumeAccountResponse_Message" wsaw:Action="http://ws.gematik.de/fd/phr/I_Account_Management_Insurant/v1.0/ResumeAccountResponse"/>
			<wsdl:fault name="FaultMessage" message="tns:FaultMessage" wsaw:Action="http://ws.gematik.de/fd/phr/I_Account_Management_Insurant/v1.0/ResumeAccountFault"/>
		</wsdl:operation>
		<wsdl:operation name="GetAuditEvents">
			<wsdl:input message="tns:GetAuditEventsRequestMessage" wsaw:Action="http://ws.gematik.de/fd/phr/I_Account_Management_Insurant/v1.0/GetAuditEvents"/>
			<wsdl:output message="tns:GetAuditEventsResponseMessage" wsaw:Action="http://ws.gematik.de/fd/phr/I_Account_Management_Insurant/v1.0/GetAuditEventsResponse"/>
			<wsdl:fault name="FaultMessage" message="tns:FaultMessage" wsaw:Action="http://ws.gematik.de/fd/phr/I_Account_Management_Insurant/v1.0/GetAuditEventsFault"/>
		</wsdl:operation>
		<wsdl:operation name="GetSignedAuditEvents">
			<wsdl:input message="tns:GetSignedAuditEventsRequestMessage" wsaw:Action="http://ws.gematik.de/fd/phr/I_Account_Management_Insurant/v1.0/GetSignedAuditEvents"/>
			<wsdl:output message="tns:GetSignedAuditEventsResponseMessage" wsaw:Action="http://ws.gematik.de/fd/phr/I_Account_Management_Insurant/v1.0/GetSignedAuditEventsResponse"/>
			<wsdl:fault name="FaultMessage" message="tns:FaultMessage" wsaw:Action="http://ws.gematik.de/fd/phr/I_Account_Management_Insurant/v1.0/GetSignedAuditEventsFault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="I_Account_Management_Insurant_Binding_Soap12" type="tns:I_Account_Management_Insurant_PortType">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsaw:UsingAddressing wsdl:required="false"/>
		<wsdl:operation name="SuspendAccount">
			<soap12:operation soapAction="http://ws.gematik.de/fd/phr/I_Account_Management_Insurant/v1.0/SuspendAccount" soapActionRequired="false"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessage">
				<soap12:fault name="FaultMessage" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ResumeAccount">
			<soap12:operation soapAction="http://ws.gematik.de/fd/phr/I_Account_Management_Insurant/v1.0/ResumeAccount" soapActionRequired="false"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessage">
				<soap12:fault name="FaultMessage" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetAuditEvents">
			<soap12:operation soapAction="http://ws.gematik.de/fd/phr/I_Account_Management_Insurant/v1.0/GetAuditEvents" soapActionRequired="false"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessage">
				<soap12:fault name="FaultMessage" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetSignedAuditEvents">
			<soap12:operation soapAction="http://ws.gematik.de/fd/phr/I_Account_Management_Insurant/v1.1/GetSignedAuditEvents" soapActionRequired="false"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultMessage">
				<soap12:fault name="FaultMessage" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AccountManagementService">
		<wsdl:port name="I_Account_Management_Insurant" binding="tns:I_Account_Management_Insurant_Binding_Soap12">
			<soap12:address location="http://servicelocation/I_Account_Management_Insurant"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
