fd/phr/AuthorizationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- gematik revision="\main\rel_ors2\15" -->
<!-- Mit XMLSpy v2014 rel. 2 sp1 (http://www.altova.com) von Gematik GmbH (Gematik) bearbeitet -->
<!-- edited with XMLSpy v2010 (http://www.altova.com) by n.n. (gematik) -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:GERROR="http://ws.gematik.de/tel/error/v2.0" xmlns:phrs="http://ws.gematik.de/fd/phrs/AuthorizationService/v1.0" xmlns:ns="http://www.w3.org/2000/09/xmldsig#" xmlns:ns1="http://www.w3.org/2001/04/xmlenc#" xmlns:ns2="urn:oasis:names:tc:SAML:2.0:assertion" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns3="http://ws.gematik.de/fa/phr/v1.0" xmlns:ns4="urn:hl7-org:v3" xmlns:ns5="urn:oasis:names:tc:xacml:2.0:policy:schema:os" xmlns:ns6="http://ws.gematik.de/fa/vsdm/vsd/v5.2" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="phrs" targetNamespace="http://ws.gematik.de/fd/phrs/AuthorizationService/v1.0">
    <documentation>
        Copyright (c) 2018, gematik - Gesellschaft für Telematikanwendungen der Gesundheitskarte mbH. Alle Rechte vorbehalten.
        Beschreibung: Dienst zum Abrufen der kryprografischen Authorization in ePA/ePF
        version=1.0.0
    </documentation>    
    <types>
        <xs:schema>
            <xs:import schemaLocation="AuthorizationService.xsd" namespace="http://ws.gematik.de/fd/phrs/AuthorizationService/v1.0"/>
            <xs:import schemaLocation="../../tel/error/TelematikError.xsd" namespace="http://ws.gematik.de/tel/error/v2.0"/>
        </xs:schema>
    </types>
    <message name="GetAuthorizationKeyRequestMessage">
        <part name="parameter" element="phrs:GetAuthorizationKey"/>
    </message>
    <message name="GetAuthorizationKeyResponseMessage">
        <part name="parameter" element="phrs:GetAuthorizationKeyResponse"/>
    </message>
    <message name="PutAuthorizationKeyRequestMessage">
        <part name="parameter" element="phrs:PutAuthorizationKey"/>
    </message>
    <message name="PutAuthorizationKeyResponseMessage">
        <part name="parameter" element="phrs:PutAuthorizationKeyResponse"/>
    </message>
    <message name="ReplaceAuthorizationKeyRequestMessage">
        <part name="parameter" element="phrs:ReplaceAuthorizationKey"/>
    </message>
    <message name="ReplaceAuthorizationKeyResponseMessage">
        <part name="parameter" element="phrs:ReplaceAuthorizationKeyResponse"/>
    </message>
    <message name="DeleteAuthorizationKeyRequestMessage">
        <part name="parameter" element="phrs:DeleteAuthorizationKey"/>
    </message>
    <message name="DeleteAuthorizationKeyResponseMessage">
        <part name="parameter" element="phrs:DeleteAuthorizationKeyResponse"/>
    </message>
    <message name="GetAuditEventsRequestMessage">
        <part name="parameter" element="phrs:GetAuditEvents"/>
    </message>
    <message name="GetAuditEventsResponseMessage">
        <part name="parameter" element="phrs:GetAuditEventsResponse"/>
    </message>
    <message name="PutNotificationInfoRequestMessage">
        <part name="parameter" element="phrs:PutNotificationInfo"/>
    </message>
    <message name="PutNotificationInfoResponseMessage">
        <part name="parameter" element="phrs:PutNotificationInfoResponse"/>
    </message>
    <message name="CheckRecordExistsRequestMessage">
        <part name="parameter" element="phrs:CheckRecordExists"/>
    </message>
    <message name="CheckRecordExistsResponseMessage">
        <part name="parameter" element="phrs:CheckRecordExistsResponse"/>
    </message>
    <message name="FaultMessage">
        <part name="parameter" element="GERROR:Error"/>
    </message>
    <portType name="I_AuthorizationPortType">
        <operation name="GetAuthorizationKey">
            <input message="phrs:GetAuthorizationKeyRequestMessage"/>
            <output message="phrs:GetAuthorizationKeyResponseMessage"/>
            <fault name="FaultMessage" message="phrs:FaultMessage"/>
        </operation>
    </portType>
    <portType name="I_Authorization_InsurantPortType">
        <operation name="GetAuthorizationKey">
            <input message="phrs:GetAuthorizationKeyRequestMessage"/>
            <output message="phrs:GetAuthorizationKeyResponseMessage"/>
            <fault name="FaultMessage" message="phrs:FaultMessage"/>
        </operation>
    </portType>
    <portType name="I_Authorization_ManagementPortType">
        <operation name="PutAuthorizationKey">
            <input message="phrs:PutAuthorizationKeyRequestMessage"/>
            <output message="phrs:PutAuthorizationKeyResponseMessage"/>
            <fault name="FaultMessage" message="phrs:FaultMessage"/>
        </operation>
        <operation name="ReplaceAuthorizationKey">
            <input message="phrs:ReplaceAuthorizationKeyRequestMessage"/>
            <output message="phrs:ReplaceAuthorizationKeyResponseMessage"/>
            <fault name="FaultMessage" message="phrs:FaultMessage"/>
        </operation>
        <operation name="CheckRecordExists">
            <input message="phrs:CheckRecordExistsRequestMessage"/>
            <output message="phrs:CheckRecordExistsResponseMessage"/>
            <fault name="FaultMessage" message="phrs:FaultMessage"/>
        </operation>
    </portType>
    <portType name="I_Authorization_Management_InsurantPortType">
        <operation name="PutAuthorizationKey">
            <input message="phrs:PutAuthorizationKeyRequestMessage"/>
            <output message="phrs:PutAuthorizationKeyResponseMessage"/>
            <fault name="FaultMessage" message="phrs:FaultMessage"/>
        </operation>
        <operation name="DeleteAuthorizationKey">
            <input message="phrs:DeleteAuthorizationKeyRequestMessage"/>
            <output message="phrs:DeleteAuthorizationKeyResponseMessage"/>
            <fault name="FaultMessage" message="phrs:FaultMessage"/>
        </operation>
        <operation name="ReplaceAuthorizationKey">
            <input message="phrs:ReplaceAuthorizationKeyRequestMessage"/>
            <output message="phrs:ReplaceAuthorizationKeyResponseMessage"/>
            <fault name="FaultMessage" message="phrs:FaultMessage"/>
        </operation>
        <operation name="GetAuditEvents">
            <input message="phrs:GetAuditEventsRequestMessage"/>
            <output message="phrs:GetAuditEventsResponseMessage"/>
            <fault name="FaultMessage" message="phrs:FaultMessage"/>
        </operation>
        <operation name="PutNotificationInfo">
            <input message="phrs:PutNotificationInfoRequestMessage"/>
            <output message="phrs:PutNotificationInfoResponseMessage"/>
            <fault name="FaultMessage" message="phrs:FaultMessage"/>
        </operation>
    </portType>
    <binding name="I_AuthorizationBinding" type="phrs:I_AuthorizationPortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetAuthorizationKey">
            <soap12:operation soapAction="http://ws.gematik.de/fd/phrs/AuthorizationService/v1.0#GetAuthorizationKey" soapActionRequired="true"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="FaultMessage">
                <soap12:fault name="FaultMessage" use="literal"/>
            </fault>
        </operation>
    </binding>
    <binding name="I_Authorization_ManagementBinding" type="phrs:I_Authorization_ManagementPortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="PutAuthorizationKey">
            <soap12:operation soapAction="http://ws.gematik.de/fd/phrs/AuthorizationService/v1.0#PutAuthorizationKey" soapActionRequired="true"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="FaultMessage">
                <soap12:fault name="FaultMessage" use="literal"/>
            </fault>
        </operation>
        <operation name="ReplaceAuthorizationKey">
            <soap12:operation soapAction="http://ws.gematik.de/fd/phrs/AuthorizationService/v1.0#ReplaceAuthorizationKey" soapActionRequired="true"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="FaultMessage">
                <soap12:fault name="FaultMessage" use="literal"/>
            </fault>
        </operation>
        <operation name="CheckRecordExists">
            <soap12:operation soapAction="http://ws.gematik.de/fd/phrs/AuthorizationService/v1.0#CheckRecordExists" soapActionRequired="true"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="FaultMessage">
                <soap12:fault name="FaultMessage" use="literal"/>
            </fault>
        </operation>
    </binding>
    <binding name="I_Authorization_InsurantBinding" type="phrs:I_Authorization_InsurantPortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetAuthorizationKey">
            <soap12:operation soapAction="http://ws.gematik.de/fd/phrs/AuthorizationInsurantService/v1.0#GetAuthorizationKey" soapActionRequired="true"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="FaultMessage">
                <soap12:fault name="FaultMessage" use="literal"/>
            </fault>
        </operation>
    </binding>
    <binding name="I_Authorization_Management_InsurantBinding" type="phrs:I_Authorization_Management_InsurantPortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="PutAuthorizationKey">
            <soap12:operation soapAction="http://ws.gematik.de/fd/phrs/AuthorizationService/v1.0#PutAuthorizationKey" soapActionRequired="true"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="FaultMessage">
                <soap12:fault name="FaultMessage" use="literal"/>
            </fault>
        </operation>
        <operation name="DeleteAuthorizationKey">
            <soap12:operation soapAction="http://ws.gematik.de/fd/phrs/AuthorizationService/v1.0#DeleteAuthorizationKey" soapActionRequired="true"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="FaultMessage">
                <soap12:fault name="FaultMessage" use="literal"/>
            </fault>
        </operation>
        <operation name="ReplaceAuthorizationKey">
            <soap12:operation soapAction="http://ws.gematik.de/fd/phrs/AuthorizationService/v1.0#ReplaceAuthorizationKey" soapActionRequired="true"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="FaultMessage">
                <soap12:fault name="FaultMessage" use="literal"/>
            </fault>
        </operation>
        <operation name="GetAuditEvents">
            <soap12:operation soapAction="http://ws.gematik.de/fd/phrs/AuthorizationService/v1.0#GetAuditEvents" soapActionRequired="true"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="FaultMessage">
                <soap12:fault name="FaultMessage" use="literal"/>
            </fault>
        </operation>
        <operation name="PutNotificationInfo">
            <soap12:operation soapAction="http://ws.gematik.de/fd/phrs/AuthorizationService/v1.0#PutNotificationInfo"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="FaultMessage">
                <soap12:fault name="FaultMessage" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="AuthorizationService">
        <port name="I_Authorization" binding="phrs:I_AuthorizationBinding">
            <soap12:address location="http://unspecified"/>
        </port>
        <port name="I_Authorization_Management" binding="phrs:I_Authorization_ManagementBinding">
            <soap12:address location="http://unspecified"/>
        </port>
        <port name="I_Authorization_Insurant" binding="phrs:I_Authorization_InsurantBinding">
            <soap12:address location="http://unspecified"/>
        </port>
        <port name="I_Authorization_Management_Insurant" binding="phrs:I_Authorization_Management_InsurantBinding">
            <soap12:address location="http://unspecified"/>
        </port>
    </service>
</definitions>
