fd/phr/AuthInsurantService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- gematik revision="\main\rel_ors2\4" -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:GERROR="http://ws.gematik.de/tel/error/v2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:phra="http://ws.gematik.de/fd/phrs/AuthInsurantService/v1.0" xmlns:phraw="http://ws.gematik.de/fd/phrs/AuthInsurantService/WSDL/v1.0" targetNamespace="http://ws.gematik.de/fd/phrs/AuthInsurantService/WSDL/v1.0">
    <documentation>
        Copyright (c) 2018, gematik - Gesellschaft für Telematikanwendungen der Gesundheitskarte mbH. Alle Rechte vorbehalten.
        Beschreibung: Authentisierung Versicherter (Teilkomponente Zugangsgateway)
        version=1.0.0
    </documentation>
    <types>
        <xs:schema>
            <xs:import schemaLocation="AuthInsurantService.xsd" namespace="http://ws.gematik.de/fd/phrs/AuthInsurantService/v1.0"/>
            <xs:import schemaLocation="../../tel/error/TelematikError.xsd" namespace="http://ws.gematik.de/tel/error/v2.0"/>
            <xs:import schemaLocation="../../ext/ws-trust-1.3.xsd" namespace="http://docs.oasis-open.org/ws-sx/ws-trust/200512"/>
        </xs:schema>
    </types>
    <message name="RequestSecurityTokenMsg">
        <part name="request" element="wst:RequestSecurityToken"/>
    </message>
    <message name="RequestSecurityTokenResponseMsg">
        <part name="response" element="wst:RequestSecurityTokenResponse"/>
    </message>
    <message name="RequestSecurityTokenResponseCollectionMsg">
        <part name="responseCollection" element="wst:RequestSecurityTokenResponseCollection"/>
    </message>
    <message name="GetAuditEventsRequestMessage">
        <part name="parameter" element="phra:GetAuditEvents"/>
    </message>
    <message name="GetAuditEventsResponseMessage">
        <part name="parameter" element="phra:GetAuditEventsResponse"/>
    </message>
    <message name="FaultMessage">
        <part name="parameter" element="GERROR:Error"/>
    </message>
    <portType name="AuthInsurantPortType">
        <operation name="LoginCreateChallenge">
            <input message="phraw:RequestSecurityTokenMsg"/>
            <output message="phraw:RequestSecurityTokenResponseMsg"/>
        </operation>
        <operation name="LoginCreateToken">
            <input message="phraw:RequestSecurityTokenResponseMsg"/>
            <output message="phraw:RequestSecurityTokenResponseCollectionMsg"/>
        </operation>
        <operation name="GetAuditEvents">
            <input message="phraw:GetAuditEventsRequestMessage"/>
            <output message="phraw:GetAuditEventsResponseMessage"/>
            <fault name="FaultMessage" message="phraw:FaultMessage"/>
        </operation>
    </portType>
    <binding name="AuthInsurantBinding" type="phraw:AuthInsurantPortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="LoginCreateChallenge">
            <soap12:operation soapAction="http://ws.gematik.de/phr/AuthInsurance/v1.0#LoginCreateChallenge" soapActionRequired="true"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="LoginCreateToken">
            <soap12:operation soapAction="http://ws.gematik.de/phr/AuthInsurant/v1.0#LoginCreateToken" soapActionRequired="true"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="GetAuditEvents">
            <soap12:operation soapAction="http://ws.gematik.de/phr/AuthInsurant/v1.0#GetAuditEvents"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="FaultMessage">
                <soap12:fault name="FaultMessage" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="AuthInsurantService">
        <port name="AuthInsurantPort" binding="phraw:AuthInsurantBinding">
            <soap12:address location="http://example.com"/>
        </port>
    </service>
</definitions>
