fd/phr/DocumentManagementService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:rmd="urn:ihe:iti:rmd:2017" xmlns:rs="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" xmlns:query="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ihe="urn:ihe:iti:xds-b:2007" xmlns:lcm="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0" xmlns:ns="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="DocumentManagementService" targetNamespace="urn:ihe:iti:xds-b:2007">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:ihe:iti:xds-b:2007" xmlns:ihe="urn:ihe:iti:xds-b:2007">
			<xsd:include schemaLocation="../../ext/IHE/XDS.b_DocumentRepository.xsd"/>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" xmlns:rs="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0">
			<xsd:include schemaLocation="../../ext/ebRS/rs.xsd"/>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0" xmlns:lcm="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0">
			<xsd:include schemaLocation="../../ext/ebRS/lcm.xsd"/>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" xmlns:lcm="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0">
			<xsd:include schemaLocation="../../ext/ebRS/rim.xsd"/>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0" xmlns:query="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0">
			<xsd:include schemaLocation="../../ext/ebRS/query.xsd"/>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:ihe:iti:rmd:2017" xmlns:rmd="urn:ihe:iti:rmd:2017">
			<xsd:element name="RemoveDocumentsRequest" type="ihe:RetrieveDocumentSetRequestType"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ProvideAndRegisterDocumentSet-b_Message">
		<wsdl:part name="body" element="ihe:ProvideAndRegisterDocumentSetRequest"/>
	</wsdl:message>
	<wsdl:message name="ProvideAndRegisterDocumentSet-bResponse_Message">
		<wsdl:part name="body" element="rs:RegistryResponse"/>
	</wsdl:message>
	<wsdl:message name="RetrieveDocumentSet_Message">
		<wsdl:part name="body" element="ihe:RetrieveDocumentSetRequest"/>
	</wsdl:message>
	<wsdl:message name="RetrieveDocumentSetResponse_Message">
		<wsdl:part name="body" element="ihe:RetrieveDocumentSetResponse"/>
	</wsdl:message>
	<wsdl:message name="RegistryStoredQuery_Message">
		<wsdl:part name="body" element="query:AdhocQueryRequest"/>
	</wsdl:message>
	<wsdl:message name="RegistryStoredQueryResponse_Message">
		<wsdl:part name="body" element="query:AdhocQueryResponse"/>
	</wsdl:message>
	<wsdl:message name="RemoveDocuments_Message">
		<wsdl:part name="body" element="rmd:RemoveDocumentsRequest"/>
	</wsdl:message>
	<wsdl:message name="RemoveDocumentsResponse_Message">
		<wsdl:part name="body" element="rs:RegistryResponse"/>
	</wsdl:message>
	<wsdl:message name="DeleteDocumentSet_Message">
		<wsdl:part name="body" element="lcm:RemoveObjectsRequest"/>
	</wsdl:message>
	<wsdl:message name="DeleteDocumentSetResponse_Message">
		<wsdl:part name="body" element="rs:RegistryResponse"/>
	</wsdl:message>
	<wsdl:message name="UpdateResponder_RestrictedUpdateDocumentSet">
		<wsdl:part name="body" element="lcm:SubmitObjectsRequest"/>
	</wsdl:message>
	<wsdl:message name="UpdateResponder_RestrictedUpdateDocumentSetResponse">
		<wsdl:part name="body" element="rs:RegistryResponse"/>
	</wsdl:message>
	<wsdl:portType name="I_Document_Management_PortType">
		<wsdl:operation name="CrossGatewayDocumentRecipient_CrossGatewayDocumentProvide">
			<wsdl:input message="ihe:ProvideAndRegisterDocumentSet-b_Message" wsaw:Action="urn:ihe:iti:2015:CrossGatewayDocumentProvide"/>
			<wsdl:output message="ihe:ProvideAndRegisterDocumentSet-bResponse_Message" wsaw:Action="urn:ihe:iti:2015:CrossGatewayDocumentProvideResponse"/>
		</wsdl:operation>
		<wsdl:operation name="RespondingGateway_CrossGatewayRetrieve">
			<wsdl:input message="ihe:RetrieveDocumentSet_Message" wsaw:Action="urn:ihe:iti:2007:CrossGatewayRetrieve"/>
			<wsdl:output message="ihe:RetrieveDocumentSetResponse_Message" wsaw:Action="urn:ihe:iti:2007:CrossGatewayRetrieveResponse"/>
		</wsdl:operation>
		<wsdl:operation name="RespondingGateway_CrossGatewayQuery">
			<wsdl:input message="ihe:RegistryStoredQuery_Message" wsaw:Action="urn:ihe:iti:2007:CrossGatewayQuery"/>
			<wsdl:output message="ihe:RegistryStoredQueryResponse_Message" wsaw:Action="urn:ihe:iti:2007:CrossGatewayQueryResponse"/>
		</wsdl:operation>
		<wsdl:operation name="DocumentRepository_RemoveDocuments">
			<wsdl:input message="ihe:RemoveDocuments_Message" wsaw:Action="urn:ihe:iti:2017:RemoveDocuments"/>
			<wsdl:output message="ihe:RemoveDocumentsResponse_Message" wsaw:Action="urn:ihe:iti:2017:RemoveDocumentsResponse"/>
		</wsdl:operation>
		<wsdl:operation name="DocumentRegistry_DeleteDocumentSet">
			<wsdl:input message="ihe:DeleteDocumentSet_Message" wsaw:Action="urn:ihe:iti:2010:DeleteDocumentSet"/>
			<wsdl:output message="ihe:DeleteDocumentSetResponse_Message" wsaw:Action="urn:ihe:iti:2010:DeleteDocumentSetResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="I_Document_Management_Insurance_PortType">
		<wsdl:operation name="DocumentRepository_ProvideAndRegisterDocumentSet-b">
			<wsdl:input message="ihe:ProvideAndRegisterDocumentSet-b_Message" wsaw:Action="urn:ihe:iti:2007:ProvideAndRegisterDocumentSet-b"/>
			<wsdl:output message="ihe:ProvideAndRegisterDocumentSet-bResponse_Message" wsaw:Action="urn:ihe:iti:2007:ProvideAndRegisterDocumentSet-bResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="I_Document_Management_Insurant_PortType">
		<wsdl:operation name="DocumentRegistry_RegistryStoredQuery">
			<wsdl:input message="ihe:RegistryStoredQuery_Message" wsaw:Action="urn:ihe:iti:2007:RegistryStoredQuery"/>
			<wsdl:output message="ihe:RegistryStoredQueryResponse_Message" wsaw:Action="urn:ihe:iti:2007:RegistryStoredQueryResponse"/>
		</wsdl:operation>
		<wsdl:operation name="DocumentRepository_RetrieveDocumentSet">
			<wsdl:input message="ihe:RetrieveDocumentSet_Message" wsaw:Action="urn:ihe:iti:2007:RetrieveDocumentSet"/>
			<wsdl:output message="ihe:RetrieveDocumentSetResponse_Message" wsaw:Action="urn:ihe:iti:2007:RetrieveDocumentSetResponse"/>
		</wsdl:operation>
		<wsdl:operation name="DocumentRepository_ProvideAndRegisterDocumentSet-b">
			<wsdl:input message="ihe:ProvideAndRegisterDocumentSet-b_Message" wsaw:Action="urn:ihe:iti:2007:ProvideAndRegisterDocumentSet-b"/>
			<wsdl:output message="ihe:ProvideAndRegisterDocumentSet-bResponse_Message" wsaw:Action="urn:ihe:iti:2007:ProvideAndRegisterDocumentSet-bResponse"/>
		</wsdl:operation>
		<wsdl:operation name="DocumentRegistry_DeleteDocumentSet">
			<wsdl:input message="ihe:DeleteDocumentSet_Message" wsaw:Action="urn:ihe:iti:2017:RemoveDocuments"/>
			<wsdl:output message="ihe:DeleteDocumentSetResponse_Message" wsaw:Action="urn:ihe:iti:2017:RemoveMetadataResponse"/>
		</wsdl:operation>
		<wsdl:operation name="UpdateResponder_RestrictedUpdateDocumentSet">
			<wsdl:input message="ihe:UpdateResponder_RestrictedUpdateDocumentSet" wsaw:Action="urn:ihe:iti:2018:RestrictedUpdateDocumentSet"/>
			<wsdl:output message="ihe:UpdateResponder_RestrictedUpdateDocumentSetResponse" wsaw:Action="urn:ihe:iti:2018:RestrictedUpdateDocumentSetResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="I_Document_Management_Binding_Soap12" type="ihe:I_Document_Management_PortType">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsaw:UsingAddressing wsdl:required="true"/>
		<wsdl:operation name="CrossGatewayDocumentRecipient_CrossGatewayDocumentProvide">
			<soap12:operation soapAction="urn:ihe:iti:2015:CrossGatewayDocumentProvide" soapActionRequired="false"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RespondingGateway_CrossGatewayRetrieve">
			<soap12:operation soapAction="urn:ihe:iti:2007:CrossGatewayRetrieve" soapActionRequired="false"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RespondingGateway_CrossGatewayQuery">
			<soap12:operation soapAction="urn:ihe:iti:2007:CrossGatewayQuery" soapActionRequired="false"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DocumentRepository_RemoveDocuments">
			<soap12:operation soapAction="urn:ihe:iti:2017:RemoveDocuments" soapActionRequired="false" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DocumentRegistry_DeleteDocumentSet">
			<soap12:operation soapAction="urn:ihe:iti:2010:DeleteDocumentSet" soapActionRequired="false" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="I_Document_Management_Insurance_Binding_Soap12" type="ihe:I_Document_Management_Insurance_PortType">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsaw:UsingAddressing wsdl:required="true"/>
		<wsdl:operation name="DocumentRepository_ProvideAndRegisterDocumentSet-b">
			<soap12:operation soapAction="urn:ihe:iti:2007:ProvideAndRegisterDocumentSet-b" soapActionRequired="false"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="I_Document_Management_Insurant_Binding_Soap12" type="ihe:I_Document_Management_Insurant_PortType">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsaw:UsingAddressing wsdl:required="true"/>
		<wsdl:operation name="DocumentRegistry_RegistryStoredQuery">
			<soap12:operation soapAction="urn:ihe:iti:2007:RegistryStoredQuery" soapActionRequired="false"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DocumentRepository_ProvideAndRegisterDocumentSet-b">
			<soap12:operation soapAction="urn:ihe:iti:2007:ProvideAndRegisterDocumentSet-b" soapActionRequired="false"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DocumentRepository_RetrieveDocumentSet">
			<soap12:operation soapAction="urn:ihe:iti:2007:RetrieveDocumentSet" soapActionRequired="false"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DocumentRegistry_DeleteDocumentSet">
			<soap12:operation soapAction="urn:ihe:iti:2017:RemoveDocuments" soapActionRequired="false"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateResponder_RestrictedUpdateDocumentSet">
			<soap12:operation soapAction="urn:ihe:iti:2018:RestrictedUpdateDocumentSet" soapActionRequired="false"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DocumentManagementService">
		<wsdl:port name="I_Document_Management" binding="ihe:I_Document_Management_Binding_Soap12">
			<soap12:address location="http://servicelocation/I_Document_Management"/>
		</wsdl:port>
		<wsdl:port name="I_Document_Management_Insurance" binding="ihe:I_Document_Management_Insurance_Binding_Soap12">
			<soap12:address location="http://servicelocation/I_Document_Management_Insurance"/>
		</wsdl:port>
		<wsdl:port name="I_Document_Management_Insurant" binding="ihe:I_Document_Management_Insurant_Binding_Soap12">
			<soap12:address location="http://servicelocation/I_Document_Management_Insurant"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
