fd/phr/DSML.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- gematik revision="\main\rel_ors2\3" -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:dsml="urn:oasis:names:tc:DSML:2:0:core" xmlns:dsmlwsdl="http://ws.gematik.de/phr/dsml/v2" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://ws.gematik.de/phr/dsml/v2">
    <documentation>
		Copyright (c) 2018, gematik - Gesellschaft für Telematikanwendungen der Gesundheitskarte mbH. Alle Rechte vorbehalten.
		Beschreibung: LDAP Proxy DSML Interface (Teilkomponente Zugangsgateway)
		version=1.0.1
	</documentation>
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.gematik.de/phr/dsml/v2">
            <import schemaLocation="../../ext/DSMLv2.xsd" namespace="urn:oasis:names:tc:DSML:2:0:core"/>
            <element name="SearchRequest" type="dsml:SearchRequest" />
            <element name="DSMLsearchResponse" type="dsmlwsdl:DSMLsearchResponse"/>
            <complexType name="DSMLsearchResponse">
                <choice>
                    <element name="searchResponse" type="dsml:SearchResponse"/>
                    <element name="errorResponse" type="dsml:ErrorResponse"/>
                </choice>
            </complexType>
        </schema>
    </types>
    <message name="DSMLRequests">
        <part name="searchRequest" element="dsmlwsdl:SearchRequest"/>
    </message>
    <message name="DSMLResponses">
        <part name="searchResponse" element="dsmlwsdl:DSMLsearchResponse"/>
    </message>
    <portType name="DSMLPortType">
        <operation name="dsmlRequest">
            <input message="dsmlwsdl:DSMLRequests"/>
            <output message="dsmlwsdl:DSMLResponses"/>
        </operation>
    </portType>
    <binding name="DSMLBinding" type="dsmlwsdl:DSMLPortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="dsmlRequest">
            <soap12:operation soapAction="http://ws.gematik.de/phr/dsml/v2#dsmlRequest" soapActionRequired="true"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="DSML">
        <port name="DSMLPort" binding="dsmlwsdl:DSMLBinding">
            <soap12:address location="http://example.com"/>
        </port>
    </service>
</definitions>
