fd/phr/I_Document_Management_Insurant.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!-- gematik revision="\main\rel_ors2\6" -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:rmd="urn:ihe:iti:rmd:2017" xmlns:query="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0" xmlns:lcm="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0" xmlns:hl7="urn:hl7-org:v3" xmlns:rs="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ihe="urn:ihe:iti:xds-b:2007" name="I_Document_Management_Insurant" targetNamespace="urn:ihe:iti:xds-b:2007">
    <wsdl:documentation>
        Copyright (c) 2018, gematik - Gesellschaft für Telematikanwendungen der Gesundheitskarte mbH. Alle Rechte vorbehalten.
        Beschreibung: Diese Dienstschnittstelle I_Document_Management_Insurant bietet die IHE ITI-basierten Schnittstellen für die ePA-Dokumentenverwaltung aus Sicht des ePA-Frontends des Versicherten an. Sie fasst die von IHE International bereitgestellten Schnittstellen für die Integrationsprofile XDS.b (ohne Patient Identity Feed) sowie RMD zusammen.
        version=1.0.0
    </wsdl:documentation>    
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0" xmlns:query="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0">
            <xsd:include schemaLocation="../../ext/ebRS/query.xsd"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" xmlns:rs="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0">
            <xsd:include schemaLocation="../../ext/ebRS/rs.xsd"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0" xmlns:lcm="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0">
            <xsd:include schemaLocation="../../ext/ebRS/lcm.xsd"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" xmlns:lcm="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0">
            <xsd:include schemaLocation="../../ext/ebRS/rim.xsd"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:ihe:iti:xds-b:2007" xmlns:ihe="urn:ihe:iti:xds-b:2007">
            <xsd:include schemaLocation="../../ext/IHE/XDS.b_DocumentRepository.xsd"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:ihe:iti:rmd:2017" xmlns:rmd="urn:ihe:iti:rmd:2017">
            <xsd:element name="RemoveDocumentsRequest" type="ihe:RetrieveDocumentSetRequestType"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="RegistryStoredQuery_Message">
        <wsdl:part name="body" element="query:AdhocQueryRequest"/>
    </wsdl:message>
    <wsdl:message name="RegistryStoredQueryResponse_Message">
        <wsdl:part name="body" element="query:AdhocQueryResponse"/>
    </wsdl:message>
    <wsdl:message name="RetrieveDocumentSet_Message">
        <wsdl:part name="body" element="ihe:RetrieveDocumentSetRequest"/>
    </wsdl:message>
    <wsdl:message name="RetrieveDocumentSetResponse_Message">
        <wsdl:part name="body" element="ihe:RetrieveDocumentSetResponse"/>
    </wsdl:message>
    <wsdl:message name="ProvideAndRegisterDocumentSet-b_Message">
        <wsdl:part name="body" element="ihe:ProvideAndRegisterDocumentSetRequest"/>
    </wsdl:message>
    <wsdl:message name="ProvideAndRegisterDocumentSet-bResponse_Message">
        <wsdl:part name="body" element="rs:RegistryResponse"/>
    </wsdl:message>
    <wsdl:message name="RemoveDocuments_Message">
        <wsdl:part name="body" element="rmd:RemoveDocumentsRequest"/>
    </wsdl:message>
    <wsdl:message name="RemoveDocumentsResponse_Message">
        <wsdl:part name="body" element="rs:RegistryResponse"/>
    </wsdl:message>
    <wsdl:portType name="DocumentRegistry_PortType">
        <wsdl:operation name="DocumentRegistry_RegistryStoredQuery">
            <wsdl:input message="ihe:RegistryStoredQuery_Message" wsaw:Action="urn:ihe:iti:2007:RegistryStoredQuery"/>
            <wsdl:output message="ihe:RegistryStoredQueryResponse_Message" wsaw:Action="urn:ihe:iti:2007:RegistryStoredQueryResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="DocumentRepository_PortType">
        <wsdl:operation name="DocumentRepository_RetrieveDocumentSet">
            <wsdl:input message="ihe:RetrieveDocumentSet_Message" wsaw:Action="urn:ihe:iti:2007:RetrieveDocumentSet"/>
            <wsdl:output message="ihe:RetrieveDocumentSetResponse_Message" wsaw:Action="urn:ihe:iti:2007:RetrieveDocumentSetResponse"/>
        </wsdl:operation>
        <wsdl:operation name="DocumentRepository_ProvideAndRegisterDocumentSet-b">
            <wsdl:input message="ihe:ProvideAndRegisterDocumentSet-b_Message" wsaw:Action="urn:ihe:iti:2007:ProvideAndRegisterDocumentSet-b"/>
            <wsdl:output message="ihe:ProvideAndRegisterDocumentSet-bResponse_Message" wsaw:Action="urn:ihe:iti:2007:ProvideAndRegisterDocumentSet-bResponse"/>
        </wsdl:operation>
        <wsdl:operation name="DocumentRepository_RemoveDocuments">
            <wsdl:input message="ihe:RemoveDocuments_Message" wsaw:Action="urn:ihe:iti:2017:RemoveDocuments"/>
            <wsdl:output message="ihe:RemoveDocumentsResponse_Message" wsaw:Action="urn:ihe:iti:2017:RemoveDocumentsResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DocumentRegistry_Binding_Soap12" type="ihe:DocumentRegistry_PortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsaw:UsingAddressing wsdl:required="true"/>
        <wsdl:operation name="DocumentRegistry_RegistryStoredQuery">
            <soap12:operation soapAction="urn:ihe:iti:2007:RegistryStoredQuery" soapActionRequired="false"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="DocumentRepository_Binding_Soap12" type="ihe:DocumentRepository_PortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsaw:UsingAddressing wsdl:required="true"/>
        <wsdl:operation name="DocumentRepository_ProvideAndRegisterDocumentSet-b">
            <soap12:operation soapAction="urn:ihe:iti:2007:ProvideAndRegisterDocumentSet-b" soapActionRequired="false"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DocumentRepository_RetrieveDocumentSet">
            <soap12:operation soapAction="urn:ihe:iti:2007:RetrieveDocumentSet" soapActionRequired="false"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DocumentRepository_RemoveDocuments">
            <soap12:operation soapAction="urn:ihe:iti:2017:RemoveDocuments" soapActionRequired="false"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="I_Document_Management_Insurant">
        <wsdl:port name="DocumentRegistry_Port_Soap12" binding="ihe:DocumentRegistry_Binding_Soap12">
            <soap12:address location="http://servicelocation/I_Document_Management_Insurant"/>
        </wsdl:port>
        <wsdl:port name="DocumentRepository_Port_Soap12" binding="ihe:DocumentRepository_Binding_Soap12">
            <soap12:address location="http://servicelocation/I_Document_Management_Insurant"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
