cm/uf/UFS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- gematik revision="\main\rel_online\rel_opb1\2" -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:UFS="http://ws.gematik.de/cm/uf/CmUfServiceRequest/v2.0" xmlns:UFSR="http://ws.gematik.de/cm/uf/CmUfServiceResponse/v2.0" xmlns:UFSW="http://ws.gematik.de/cm/uf/WSDL/v1.0" xmlns:CM="http://ws.gematik.de/cm/common/CmCommon/v2.0" xmlns:GERROR="http://ws.gematik.de/tel/error/v2.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.gematik.de/cm/uf/WSDL/v1.0">
	<wsdl:documentation>
		Copyright (c) 2012, gematik - Gesellschaft für Telematikanwendungen der Gesundheitskarte mbH. Alle Rechte vorbehalten.
		Beschreibung: Update Flag Service 
		version=1.0.0
	</wsdl:documentation>
	<wsdl:types>
		<xsd:schema>
			<xsd:import schemaLocation="CmUfServiceRequest.xsd" namespace="http://ws.gematik.de/cm/uf/CmUfServiceRequest/v2.0"/>
			<xsd:import schemaLocation="CmUfServiceResponse.xsd" namespace="http://ws.gematik.de/cm/uf/CmUfServiceResponse/v2.0"/>
			<xsd:import schemaLocation="../common/CmCommon.xsd" namespace="http://ws.gematik.de/cm/common/CmCommon/v2.0"/>
			<xsd:import schemaLocation="../../tel/error/TelematikError.xsd" namespace="http://ws.gematik.de/tel/error/v2.0"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="GetUpdateFlagsRequest">
		<wsdl:part name="GetUpdateFlagsRequest" element="UFS:GetUpdateFlags"/>
	</wsdl:message>
	<wsdl:message name="GetUpdateFlagsResponse">
		<wsdl:part name="GetUpdateFlagsResponse" element="UFSR:GetUpdateFlagsResponse"/>
	</wsdl:message>
	<wsdl:message name="Header">
		<wsdl:part name="Localisation" element="CM:ServiceLocalization"/>
	</wsdl:message>
	<wsdl:message name="FaultMessage">
		<wsdl:part name="Error" element="GERROR:Error"/>
	</wsdl:message>
	<wsdl:portType name="UFSPortType">
		<wsdl:operation name="GetUpdateFlags">
			<wsdl:input name="GetUpdateFlagsRequest" message="UFSW:GetUpdateFlagsRequest"/>
			<wsdl:output name="GetUpdateFlagsResponse" message="UFSW:GetUpdateFlagsResponse"/>
			<wsdl:fault name="TelematikExecuteFault" message="UFSW:FaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="UFSBinding" type="UFSW:UFSPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetUpdateFlags">
			<soap:operation soapAction="http://ws.gematik.de/cm/uf/WSDL/v1.0#getupdateflags" style="document"/>
			<wsdl:input name="GetUpdateFlagsRequest">
				<soap:header message="UFSW:Header" part="Localisation" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetUpdateFlagsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="TelematikExecuteFault">
				<soap:fault name="TelematikExecuteFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="UFService">
		<wsdl:port name="UFSPort" binding="UFSW:UFSBinding">
			<soap:address location="http://No-Location"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
