fa/sak/cda/coreschemas/datatypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- gematik revision="\main\rel_ors1\2" -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <xsd:include schemaLocation="datatypes-base.xsd"/>
    <!--
      Instantiated templates
    --><xsd:complexType name="PIVL_TS">
      <xsd:complexContent>
         <xsd:extension base="SXCM_TS">
            <xsd:sequence>
               <xsd:element name="phase" minOccurs="0" maxOccurs="1" type="IVL_TS"/>
               <xsd:element name="period" minOccurs="0" maxOccurs="1" type="PQ"/>
               <xsd:element name="frequency" minOccurs="0" maxOccurs="1" type="RTO_INT_PQ"/>
            </xsd:sequence>
            <xsd:attribute name="alignment" type="cs_CalendarCycle" use="optional"/>
            <xsd:attribute name="institutionSpecified" type="bl" use="optional" default="false"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="RTO_INT_PQ">
      <xsd:annotation>
         <xsd:appinfo>
            <diff>RTO_INT_PQ</diff>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="QTY">
            <xsd:sequence>
               <xsd:element name="numerator" type="INT"/>
               <xsd:element name="denominator" type="PQ"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="EIVL_TS">
      <xsd:complexContent>
         <xsd:extension base="SXCM_TS">
            <xsd:sequence>
               <xsd:element name="event" type="CE" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="offset" minOccurs="0" maxOccurs="1" type="IVL_PQ"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="IVL_PQ">
      <xsd:complexContent>
         <xsd:extension base="SXCM_PQ">
            <xsd:choice minOccurs="0">
               <xsd:sequence>
                  <xsd:element name="low" minOccurs="1" maxOccurs="1" type="IVXB_PQ"/>
                  <xsd:choice minOccurs="0">
                     <xsd:element name="width" minOccurs="0" maxOccurs="1" type="PQ"/>
                     <xsd:element name="high" minOccurs="0" maxOccurs="1" type="IVXB_PQ"/>
                  </xsd:choice>
               </xsd:sequence>
               <xsd:element name="high" minOccurs="1" maxOccurs="1" type="IVXB_PQ"/>
               <xsd:sequence>
                  <xsd:element name="width" minOccurs="1" maxOccurs="1" type="PQ"/>
                  <xsd:element name="high" minOccurs="0" maxOccurs="1" type="IVXB_PQ"/>
               </xsd:sequence>
               <xsd:sequence>
                  <xsd:element name="center" minOccurs="1" maxOccurs="1" type="PQ"/>
                  <xsd:element name="width" minOccurs="0" maxOccurs="1" type="PQ"/>
               </xsd:sequence>
            </xsd:choice>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="SXCM_PQ">
      <xsd:complexContent>
         <xsd:extension base="PQ">
            <xsd:attribute name="operator" type="cs_SetOperator" use="optional" default="I"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="IVXB_PQ">
      <xsd:complexContent>
         <xsd:extension base="PQ">
            <xsd:attribute name="inclusive" type="bl" use="optional" default="true"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="PPD_TS">
      <xsd:annotation>
         <xsd:appinfo>
            <diff>PPD_PQ</diff>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="TS">
            <xsd:sequence>
               <xsd:element name="standardDeviation" minOccurs="0" maxOccurs="1" type="PQ"/>
            </xsd:sequence>
            <xsd:attribute name="distributionType" type="cs_ProbabilityDistributionType" use="optional"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="PPD_PQ">
      <xsd:annotation>
         <xsd:appinfo>
            <diff>PPD_PQ</diff>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="PQ">
            <xsd:sequence>
               <xsd:element name="standardDeviation" minOccurs="0" maxOccurs="1" type="PQ"/>
            </xsd:sequence>
            <xsd:attribute name="distributionType" type="cs_ProbabilityDistributionType" use="optional"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="PIVL_PPD_TS">
      <xsd:complexContent>
         <xsd:extension base="SXCM_PPD_TS">
            <xsd:sequence>
               <xsd:element name="phase" minOccurs="0" maxOccurs="1" type="IVL_PPD_TS"/>
               <xsd:element name="period" minOccurs="0" maxOccurs="1" type="PPD_PQ"/>
               <xsd:element name="frequency" minOccurs="0" maxOccurs="1" type="RTO_INT_PPD_PQ"/>
            </xsd:sequence>
            <xsd:attribute name="alignment" type="cs_CalendarCycle" use="optional"/>
            <xsd:attribute name="institutionSpecified" type="bl" use="optional" default="false"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="SXCM_PPD_TS">
      <xsd:complexContent>
         <xsd:extension base="PPD_TS">
            <xsd:attribute name="operator" type="cs_SetOperator" use="optional" default="I"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="IVL_PPD_TS">
      <xsd:complexContent>
         <xsd:extension base="SXCM_PPD_TS">
            <xsd:choice minOccurs="0">
               <xsd:sequence>
                  <xsd:element name="low" minOccurs="1" maxOccurs="1" type="IVXB_PPD_TS"/>
                  <xsd:choice minOccurs="0">
                     <xsd:element name="width" minOccurs="0" maxOccurs="1" type="PPD_PQ"/>
                     <xsd:element name="high" minOccurs="0" maxOccurs="1" type="IVXB_PPD_TS"/>
                  </xsd:choice>
               </xsd:sequence>
               <xsd:element name="high" minOccurs="1" maxOccurs="1" type="IVXB_PPD_TS"/>
               <xsd:sequence>
                  <xsd:element name="width" minOccurs="1" maxOccurs="1" type="PPD_PQ"/>
                  <xsd:element name="high" minOccurs="0" maxOccurs="1" type="IVXB_PPD_TS"/>
               </xsd:sequence>
               <xsd:sequence>
                  <xsd:element name="center" minOccurs="1" maxOccurs="1" type="PPD_TS"/>
                  <xsd:element name="width" minOccurs="0" maxOccurs="1" type="PPD_PQ"/>
               </xsd:sequence>
            </xsd:choice>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="IVXB_PPD_TS">
      <xsd:complexContent>
         <xsd:extension base="PPD_TS">
            <xsd:attribute name="inclusive" type="bl" use="optional" default="true"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="RTO_INT_PPD_PQ">
      <xsd:annotation>
         <xsd:appinfo>
            <diff>RTO_INT_PPD_PQ</diff>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="QTY">
            <xsd:sequence>
               <xsd:element name="numerator" type="INT"/>
               <xsd:element name="denominator" type="PPD_PQ"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="EIVL_PPD_TS">
      <xsd:complexContent>
         <xsd:extension base="SXCM_PPD_TS">
            <xsd:sequence>
               <xsd:element name="event" type="CE" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="offset" minOccurs="0" maxOccurs="1" type="IVL_PPD_PQ"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="IVL_PPD_PQ">
      <xsd:complexContent>
         <xsd:extension base="SXCM_PPD_PQ">
            <xsd:choice minOccurs="0">
               <xsd:sequence>
                  <xsd:element name="low" minOccurs="1" maxOccurs="1" type="IVXB_PPD_PQ"/>
                  <xsd:choice minOccurs="0">
                     <xsd:element name="width" minOccurs="0" maxOccurs="1" type="PPD_PQ"/>
                     <xsd:element name="high" minOccurs="0" maxOccurs="1" type="IVXB_PPD_PQ"/>
                  </xsd:choice>
               </xsd:sequence>
               <xsd:element name="high" minOccurs="1" maxOccurs="1" type="IVXB_PPD_PQ"/>
               <xsd:sequence>
                  <xsd:element name="width" minOccurs="1" maxOccurs="1" type="PPD_PQ"/>
                  <xsd:element name="high" minOccurs="0" maxOccurs="1" type="IVXB_PPD_PQ"/>
               </xsd:sequence>
               <xsd:sequence>
                  <xsd:element name="center" minOccurs="1" maxOccurs="1" type="PPD_PQ"/>
                  <xsd:element name="width" minOccurs="0" maxOccurs="1" type="PPD_PQ"/>
               </xsd:sequence>
            </xsd:choice>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="SXCM_PPD_PQ">
      <xsd:complexContent>
         <xsd:extension base="PPD_PQ">
            <xsd:attribute name="operator" type="cs_SetOperator" use="optional" default="I"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="IVXB_PPD_PQ">
      <xsd:complexContent>
         <xsd:extension base="PPD_PQ">
            <xsd:attribute name="inclusive" type="bl" use="optional" default="true"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="SXPR_TS">
      <xsd:complexContent>
         <xsd:extension base="SXCM_TS">
            <xsd:sequence>
               <xsd:element name="comp" minOccurs="2" maxOccurs="unbounded" type="SXCM_TS"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="SXCM_CD">
      <xsd:complexContent>
         <xsd:extension base="CD">
            <xsd:attribute name="operator" type="cs_SetOperator" use="optional" default="I"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="SXCM_MO">
      <xsd:complexContent>
         <xsd:extension base="MO">
            <xsd:attribute name="operator" type="cs_SetOperator" use="optional" default="I"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="SXCM_INT">
      <xsd:complexContent>
         <xsd:extension base="INT">
            <xsd:attribute name="operator" type="cs_SetOperator" use="optional" default="I"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="SXCM_REAL">
      <xsd:complexContent>
         <xsd:extension base="REAL">
            <xsd:attribute name="operator" type="cs_SetOperator" use="optional" default="I"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="IVL_INT">
      <xsd:complexContent>
         <xsd:extension base="SXCM_INT">
            <xsd:choice minOccurs="0">
               <xsd:sequence>
                  <xsd:element name="low" minOccurs="1" maxOccurs="1" type="IVXB_INT"/>
                  <xsd:choice minOccurs="0">
                     <xsd:element name="width" minOccurs="0" maxOccurs="1" type="INT"/>
                     <xsd:element name="high" minOccurs="0" maxOccurs="1" type="IVXB_INT"/>
                  </xsd:choice>
               </xsd:sequence>
               <xsd:element name="high" minOccurs="1" maxOccurs="1" type="IVXB_INT"/>
               <xsd:sequence>
                  <xsd:element name="width" minOccurs="1" maxOccurs="1" type="INT"/>
                  <xsd:element name="high" minOccurs="0" maxOccurs="1" type="IVXB_INT"/>
               </xsd:sequence>
               <xsd:sequence>
                  <xsd:element name="center" minOccurs="1" maxOccurs="1" type="INT"/>
                  <xsd:element name="width" minOccurs="0" maxOccurs="1" type="INT"/>
               </xsd:sequence>
            </xsd:choice>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="IVXB_INT">
      <xsd:complexContent>
         <xsd:extension base="INT">
            <xsd:attribute name="inclusive" type="bl" use="optional" default="true"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="IVL_REAL">
      <xsd:complexContent>
         <xsd:extension base="SXCM_REAL">
            <xsd:choice minOccurs="0">
               <xsd:sequence>
                  <xsd:element name="low" minOccurs="1" maxOccurs="1" type="IVXB_REAL"/>
                  <xsd:choice minOccurs="0">
                     <xsd:element name="width" minOccurs="0" maxOccurs="1" type="REAL"/>
                     <xsd:element name="high" minOccurs="0" maxOccurs="1" type="IVXB_REAL"/>
                  </xsd:choice>
               </xsd:sequence>
               <xsd:element name="high" minOccurs="1" maxOccurs="1" type="IVXB_REAL"/>
               <xsd:sequence>
                  <xsd:element name="width" minOccurs="1" maxOccurs="1" type="REAL"/>
                  <xsd:element name="high" minOccurs="0" maxOccurs="1" type="IVXB_REAL"/>
               </xsd:sequence>
               <xsd:sequence>
                  <xsd:element name="center" minOccurs="1" maxOccurs="1" type="REAL"/>
                  <xsd:element name="width" minOccurs="0" maxOccurs="1" type="REAL"/>
               </xsd:sequence>
            </xsd:choice>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="IVXB_REAL">
      <xsd:complexContent>
         <xsd:extension base="REAL">
            <xsd:attribute name="inclusive" type="bl" use="optional" default="true"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="IVL_MO">
      <xsd:complexContent>
         <xsd:extension base="SXCM_MO">
            <xsd:choice minOccurs="0">
               <xsd:sequence>
                  <xsd:element name="low" minOccurs="1" maxOccurs="1" type="IVXB_MO"/>
                  <xsd:choice minOccurs="0">
                     <xsd:element name="width" minOccurs="0" maxOccurs="1" type="MO"/>
                     <xsd:element name="high" minOccurs="0" maxOccurs="1" type="IVXB_MO"/>
                  </xsd:choice>
               </xsd:sequence>
               <xsd:element name="high" minOccurs="1" maxOccurs="1" type="IVXB_MO"/>
               <xsd:sequence>
                  <xsd:element name="width" minOccurs="1" maxOccurs="1" type="MO"/>
                  <xsd:element name="high" minOccurs="0" maxOccurs="1" type="IVXB_MO"/>
               </xsd:sequence>
               <xsd:sequence>
                  <xsd:element name="center" minOccurs="1" maxOccurs="1" type="MO"/>
                  <xsd:element name="width" minOccurs="0" maxOccurs="1" type="MO"/>
               </xsd:sequence>
            </xsd:choice>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="IVXB_MO">
      <xsd:complexContent>
         <xsd:extension base="MO">
            <xsd:attribute name="inclusive" type="bl" use="optional" default="true"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="HXIT_PQ">
      <xsd:complexContent>
         <xsd:extension base="PQ">
            <xsd:sequence>
               <xsd:element name="validTime" minOccurs="0" maxOccurs="1" type="IVL_TS"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="HXIT_CE">
      <xsd:complexContent>
         <xsd:extension base="CE">
            <xsd:sequence>
               <xsd:element name="validTime" minOccurs="0" maxOccurs="1" type="IVL_TS"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="BXIT_CD">
      <xsd:complexContent>
         <xsd:extension base="CD">
            <xsd:attribute name="qty" type="int" use="optional" default="1"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="BXIT_IVL_PQ">
      <xsd:complexContent>
         <xsd:extension base="IVL_PQ">
            <xsd:attribute name="qty" type="int" use="optional" default="1"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="SLIST_PQ">
      <xsd:complexContent>
         <xsd:extension base="ANY">
            <xsd:sequence>
               <xsd:element name="origin" minOccurs="1" maxOccurs="1" type="PQ"/>
               <xsd:element name="scale" minOccurs="1" maxOccurs="1" type="PQ"/>
               <xsd:element name="digits" minOccurs="1" maxOccurs="1" type="list_int"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:simpleType name="list_int">
      <xsd:list itemType="int"/>
   </xsd:simpleType>
   <xsd:complexType name="SLIST_TS">
      <xsd:complexContent>
         <xsd:extension base="ANY">
            <xsd:sequence>
               <xsd:element name="origin" minOccurs="1" maxOccurs="1" type="TS"/>
               <xsd:element name="scale" minOccurs="1" maxOccurs="1" type="PQ"/>
               <xsd:element name="digits" minOccurs="1" maxOccurs="1" type="list_int"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="GLIST_TS">
      <xsd:complexContent>
         <xsd:extension base="ANY">
            <xsd:sequence>
               <xsd:element name="head" minOccurs="1" maxOccurs="1" type="TS"/>
               <xsd:element name="increment" minOccurs="1" maxOccurs="1" type="PQ"/>
            </xsd:sequence>
            <xsd:attribute name="period" type="int" use="optional"/>
            <xsd:attribute name="denominator" type="int" use="optional"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="GLIST_PQ">
      <xsd:complexContent>
         <xsd:extension base="ANY">
            <xsd:sequence>
               <xsd:element name="head" minOccurs="1" maxOccurs="1" type="PQ"/>
               <xsd:element name="increment" minOccurs="1" maxOccurs="1" type="PQ"/>
            </xsd:sequence>
            <xsd:attribute name="period" type="int" use="optional"/>
            <xsd:attribute name="denominator" type="int" use="optional"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="RTO_PQ_PQ">
      <xsd:annotation>
         <xsd:appinfo>
            <diff>RTO_PQ_PQ</diff>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="QTY">
            <xsd:sequence>
               <xsd:element name="numerator" type="PQ"/>
               <xsd:element name="denominator" type="PQ"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="RTO_MO_PQ">
      <xsd:annotation>
         <xsd:appinfo>
            <diff>RTO_MO_PQ</diff>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="QTY">
            <xsd:sequence>
               <xsd:element name="numerator" type="MO"/>
               <xsd:element name="denominator" type="PQ"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="UVP_TS">
      <xsd:complexContent>
         <xsd:extension base="TS"><!--										<xsd:sequence>-->
            <xsd:attribute name="probability">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:float">
                     <xsd:minInclusive value="0.0"/>
                     <xsd:maxInclusive value="1.0"/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:attribute><!--										</xsd:sequence>-->
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
</xsd:schema>
