conn/phrs/PHRManagementService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- ===================================================================== -->
<!-- 	                    Copyright (C) 2019 gematik. Alle Rechte vorbehalten.                                        -->
<!-- ===================================================================== -->
<!-- Version History
            version: V1.3.0
                *  Für sämtliche Operationen soapActionRequired="false"  
                   Für sämtiche PortType Bindings <wsaw:UsingAddressing required="true"/>
  			version: V1.2.0
				* 15.03.2019
				* C_6798 RegisterSMB und ActivateAlternativeIdentity => Operationen gelöscht (Schlüsselgenerierungsdienst)
  			version: V1.1.0
				* 14.02.2019
				* C_6682: GetAuthorizationList => Operation neu hinzugefügt
				* C_6685: ActivateAlternativeIdentity => Operation neu hinzugefügt
                * C_6766: <annotation> Tag um <documentation> entfernt
            version: V1.0.0
				* 01.01.2019
				* Initiale Version-->
<!-- ===================== End of Version History =============================== -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:phrm="http://ws.gematik.de/conn/phrs/PHRManagementService/v1.3" xmlns:phrmw="http://ws.gematik.de/conn/phrs/PHRManagementService/WSDL/v1.3" xmlns:GERROR="http://ws.gematik.de/tel/error/v2.0" xmlns:ns="http://ws.gematik.de/conn/ConnectorCommon/v5.0" xmlns:ns1="http://ws.gematik.de/conn/ConnectorContext/v2.0" xmlns:ns2="http://www.w3.org/2000/09/xmldsig#" xmlns:ns3="urn:oasis:names:tc:SAML:1.0:assertion" xmlns:ns4="urn:oasis:names:tc:dss:1.0:core:schema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns5="http://ws.gematik.de/fa/vsdm/vsd/v5.2" name="PHRManagementService" targetNamespace="http://ws.gematik.de/conn/phrs/PHRManagementService/WSDL/v1.3">
	<documentation>
			Copyright (c) 2019, gematik - Gesellschaft für Telematikanwendungen der Gesundheitskarte mbH. Alle Rechte vorbehalten.
			Beschreibung: Dienst zur Konfiguration und Verwaltung der Fachanwendung ePA/ePF
			Version=1.3.0
		</documentation>
	<types>
		<xs:schema>
			<xs:import namespace="http://ws.gematik.de/conn/phrs/PHRManagementService/v1.3" schemaLocation="PHRManagementService.xsd"/>
			<xs:import namespace="http://ws.gematik.de/tel/error/v2.0" schemaLocation="../../tel/error/TelematikError.xsd"/>
			<xs:import namespace="http://www.w3.org/2006/05/addressing/wsdl" schemaLocation="../../ext/ws-addr-wsdl.xsd"/>
		</xs:schema>
	</types>
	<message name="ActivateAccountRequestMessage">
		<part name="parameter" element="phrm:ActivateAccount"/>
	</message>
	<message name="ActivateAccountResponseMessage">
		<part name="parameters" element="phrm:ActivateAccountResponse"/>
	</message>
	<message name="RequestFacilityAuthorizationRequestMessage">
		<part name="parameters" element="phrm:RequestFacilityAuthorization"/>
	</message>
	<message name="RequestFacilityAuthorizationResponseMessage">
		<part name="parameters" element="phrm:RequestFacilityAuthorizationResponse"/>
	</message>
	<message name="FaultMessage">
		<part name="parameter" element="GERROR:Error"/>
	</message>
	<message name="GetHomeCommunityIDRequestMessage">
		<part name="parameters" element="phrm:GetHomeCommunityID"/>
	</message>
	<message name="GetHomeCommunityIDResponseMessage">
		<part name="parameters" element="phrm:GetHomeCommunityIDResponse"/>
	</message>
	<message name="GetAuthorizationListRequestMessage">
		<part name="parameters" element="phrm:GetAuthorizationList"/>
	</message>
	<message name="GetAuthorizationListResponseMessage">
		<part name="parameters" element="phrm:GetAuthorizationListResponse"/>
	</message>
	<portType name="PHRManagementServicePortType">
		<operation name="ActivateAccount">
			<input message="phrmw:ActivateAccountRequestMessage" wsaw:Action="http://ws.gematik.de/conn/phrs/PHRManagementService/v1.3/ActivateAccount"/>
			<output message="phrmw:ActivateAccountResponseMessage" wsaw:Action="http://ws.gematik.de/conn/phrs/PHRManagementService/v1.3/ActivateAccountResponse"/>
			<fault name="FaultMessage" message="phrmw:FaultMessage" wsaw:Action="http://ws.gematik.de/conn/phrs/PHRManagementService/v1.3/ActivateAccountFault"/>
		</operation>
		<operation name="RequestFacilityAuthorization">
			<input message="phrmw:RequestFacilityAuthorizationRequestMessage" wsaw:Action="http://ws.gematik.de/conn/phrs/PHRManagementService/v1.3/RequestFacilityAuthorization"/>
			<output message="phrmw:RequestFacilityAuthorizationResponseMessage" wsaw:Action="http://ws.gematik.de/conn/phrs/PHRManagementService/v1.3/RequestFacilityAuthorizationResponse"/>
			<fault name="FaultMessage" message="phrmw:FaultMessage" wsaw:Action="http://ws.gematik.de/conn/phrs/PHRManagementService/v1.3/RequestFacilityAuthorizationFault"/>
		</operation>
		<operation name="GetHomeCommunityID">
			<input message="phrmw:GetHomeCommunityIDRequestMessage" wsaw:Action="http://ws.gematik.de/conn/phrs/PHRManagementService/v1.3/GetHomeCommunityID"/>
			<output message="phrmw:GetHomeCommunityIDResponseMessage" wsaw:Action="http://ws.gematik.de/conn/phrs/PHRManagementService/v1.3/GetHomeCommunityIDResponse"/>
			<fault name="FaultMessage" message="phrmw:FaultMessage" wsaw:Action="http://ws.gematik.de/conn/phrs/PHRManagementService/v1.3/GetHomeCommunityIDFault"/>
		</operation>
		<operation name="GetAuthorizationList">
			<input message="phrmw:GetAuthorizationListRequestMessage" wsaw:Action="http://ws.gematik.de/conn/phrs/PHRManagementService/v1.3/GetAuthorizationList"/>
			<output message="phrmw:GetAuthorizationListResponseMessage" wsaw:Action="http://ws.gematik.de/conn/phrs/PHRManagementService/v1.3/GetAuthorizationListResponse"/>
			<fault name="FaultMessage" message="phrmw:FaultMessage" wsaw:Action="http://ws.gematik.de/conn/phrs/PHRManagementService/v1.3/GetAuthorizationListFault"/>
		</operation>
	</portType>
	<binding name="PHRManagementServiceBinding" type="phrmw:PHRManagementServicePortType">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsaw:UsingAddressing required="true"/>
		<operation name="ActivateAccount">
			<soap12:operation soapAction="http://ws.gematik.de/conn/phrs/PHRManagementService/v1.3/ActivateAccount" soapActionRequired="false"/>
			<input>
				<soap12:body use="literal"/>
			</input>
			<output>
				<soap12:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap12:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="RequestFacilityAuthorization">
			<soap12:operation soapAction="http://ws.gematik.de/conn/phrs/PHRManagementService/v1.3/RequestFacilityAuthorization" soapActionRequired="false"/>
			<input>
				<soap12:body use="literal"/>
			</input>
			<output>
				<soap12:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap12:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="GetHomeCommunityID">
			<soap12:operation soapAction="http://ws.gematik.de/conn/phrs/PHRManagementService/v1.3/GetHomeCommunityID" soapActionRequired="false"/>
			<input>
				<soap12:body use="literal"/>
			</input>
			<output>
				<soap12:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap12:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="GetAuthorizationList">
			<soap12:operation soapAction="http://ws.gematik.de/conn/phrs/PHRManagementService/v1.3/GetAuthorizationList" soapActionRequired="false"/>
			<input>
				<soap12:body use="literal"/>
			</input>
			<output>
				<soap12:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap12:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="PHRManagementService">
		<port name="PHRManagementServicePort" binding="phrmw:PHRManagementServiceBinding">
			<soap12:address location="http://unspecified"/>
		</port>
	</service>
</definitions>
