conn/phrs/PHRManagementService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- gematik revision="\main\rel_ors2\9" -->
<!-- Mit XMLSpy v2014 rel. 2 sp1 (http://www.altova.com) von Gematik GmbH (Gematik) bearbeitet -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:phrm="http://ws.gematik.de/conn/phrs/PHRManagementService/v1.0" xmlns:phrmw="http://ws.gematik.de/conn/phrs/PHRManagementService/WSDL/v1.0" xmlns:GERROR="http://ws.gematik.de/tel/error/v2.0" xmlns:ns="http://ws.gematik.de/conn/ConnectorCommon/v5.0" xmlns:ns1="http://ws.gematik.de/conn/ConnectorContext/v2.0" xmlns:ns2="http://www.w3.org/2000/09/xmldsig#" xmlns:ns3="urn:oasis:names:tc:SAML:1.0:assertion" xmlns:ns4="urn:oasis:names:tc:dss:1.0:core:schema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns5="http://ws.gematik.de/fa/vsdm/vsd/v5.2" name="PHRManagementService" targetNamespace="http://ws.gematik.de/conn/phrs/PHRManagementService/WSDL/v1.0">
	<types>
		<xs:schema>
			<xs:import namespace="http://ws.gematik.de/conn/phrs/PHRManagementService/v1.0" schemaLocation="PHRManagementService.xsd"/>
			<xs:import namespace="http://ws.gematik.de/tel/error/v2.0" schemaLocation="../../tel/error/TelematikError.xsd"/>
		</xs:schema>
	</types>
	<message name="ActivateAccountRequestMessage">
		<part name="parameter" element="phrm:ActivateAccount"/>
	</message>
	<message name="ActivateAccountResponseMessage">
		<part name="parameters" element="phrm:ActivateAccountResponse"/>
	</message>
	<message name="RegisterSMBRequestMessage">
		<part name="parameters" element="phrm:RegisterSMB"/>
	</message>
	<message name="RegisterSMBResponseMessage">
		<part name="parameters" element="phrm:RegisterSMBResponse"/>
	</message>
	<message name="RequestFacilityAuthorizationRequestMessage">
		<part name="parameters" element="phrm:RequestFacilityAuthorization"/>
	</message>
	<message name="RequestFacilityAuthorizationResponseMessage">
		<part name="parameters" element="phrm:RequestFacilityAuthorizationResponse"/>
	</message>
	<message name="FaultMessage">
		<part name="parameter" element="GERROR:Error"/>
	</message>
	<message name="GetHomeCommunityIDRequestMessage">
		<part name="parameters" element="phrm:GetHomeCommunityID"/>
	</message>
	<message name="GetHomeCommunityIDResponseMessage">
		<part name="parameters" element="phrm:GetHomeCommunityIDResponse"/>
	</message>
	<portType name="PHRManagementServicePortType">
		<operation name="ActivateAccount">
			<input message="phrmw:ActivateAccountRequestMessage"/>
			<output message="phrmw:ActivateAccountResponseMessage"/>
			<fault name="FaultMessage" message="phrmw:FaultMessage"/>
		</operation>
		<operation name="RequestFacilityAuthorization">
			<input message="phrmw:RequestFacilityAuthorizationRequestMessage"/>
			<output message="phrmw:RequestFacilityAuthorizationResponseMessage"/>
			<fault name="FaultMessage" message="phrmw:FaultMessage"/>
		</operation>
		<operation name="RegisterSMB">
			<input message="phrmw:RegisterSMBRequestMessage"/>
			<output message="phrmw:RegisterSMBResponseMessage"/>
			<fault name="FaultMessage" message="phrmw:FaultMessage"/>
		</operation>
		<operation name="GetHomeCommunityID">
			<input message="phrmw:GetHomeCommunityIDRequestMessage"/>
			<output message="phrmw:GetHomeCommunityIDResponseMessage"/>
			<fault name="FaultMessage" message="phrmw:FaultMessage"/>
		</operation>
	</portType>
	<binding name="PHRManagementServiceBinding" type="phrmw:PHRManagementServicePortType">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ActivateAccount">
			<soap12:operation soapAction="urn:#ActivateAccount" soapActionRequired="true"/>
			<input>
				<soap12:body use="literal"/>
			</input>
			<output>
				<soap12:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap12:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="RequestFacilityAuthorization">
			<soap12:operation soapAction="urn:#RequestFacilityAuthorization" soapActionRequired="true"/>
			<input>
				<soap12:body use="literal"/>
			</input>
			<output>
				<soap12:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap12:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="RegisterSMB">
			<soap12:operation soapAction="urn:#RegisterSMB" soapActionRequired="true"/>
			<input>
				<soap12:body use="literal"/>
			</input>
			<output>
				<soap12:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap12:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="GetHomeCommunityID">
			<soap12:operation soapAction="urn:#GetHomeCommunityID" soapActionRequired="true"/>
			<input>
				<soap12:body use="literal"/>
			</input>
			<output>
				<soap12:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap12:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="PHRManagementService">
		<port name="PHRManagementServicePort" binding="phrmw:PHRManagementServiceBinding">
			<soap12:address location="http://unspecified"/>
		</port>
	</service>
	<annotation>
		<documentation xml:lang="de">
			Copyright (c) 2018, gematik - Gesellschaft für Telematikanwendungen der Gesundheitskarte mbH. Alle Rechte vorbehalten.
			Beschreibung: Dienst zur Konfiguration und Verwaltung der Fachanwendung ePA/ePF
			Version=1.0.0
		</documentation>
	</annotation>
</definitions>
