conn/phrs/PHRService_V2_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- ===================================================================== -->
<!-- 	                    Copyright (C) 2020 gematik. Alle Rechte vorbehalten.                                        -->
<!-- ===================================================================== -->
<!-- Version History
           version: V2.0.1 (R4.0.1: Version wird nur an 3.Stelle erhöht, da R4.0.1 das R4.0.0 ersetzt)
				* Operation RemoveDocuments (ITI-86: Remove Documents) entfernt
				* Operation DeleteDocumentSet neu (IHE RMD ITI-62: Remove Metadata)
            version: V2.0.0
				* Operation RestrictedUpdateDocumentSet entfernt
            version: V1.4.0
				* Operation RestrictedUpdateDocumentSet ist abgekündigt und wird mit Fehler 7400 beendet
            version: V1.3.0
                *  Für sämtliche Operationen soapActionRequired="false"  
                   Für sämtiche PortType Bindings <wsaw:UsingAddressing wsdl:required="true"/>
                   targetNamespace korrigiert auf "http://ws.gematik.de/conn/phrs/PHRService/WSDL/v1.3"
  			version: V1.2.0
				* 21.01.2020
				* PHRService_PortType definiert
  			version: V1.1.0
				* 15.05.2019
				* Update PHR_Common.xsd
            version: V1.0.0
				* 01.01.2019
				* Initiale Version-->
<!-- ===================== End of Version History =============================== -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:rmd="urn:ihe:iti:rmd:2017" xmlns:query="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0" xmlns:lcm="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0" xmlns:hl7="urn:hl7-org:v3" xmlns:rs="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:phrs="http://ws.gematik.de/conn/phrs/PHRService/v2.0" xmlns:phrsWSDL="http://ws.gematik.de/conn/phrs/PHRService/WSDL/v2.0" xmlns:ihe="urn:ihe:iti:xds-b:2007" xmlns:ns="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" name="PHRService" targetNamespace="http://ws.gematik.de/conn/phrs/PHRService/WSDL/v2.0">
	<wsdl:documentation>
        Copyright (c) 2020, gematik GmbH. Alle Rechte vorbehalten.
        Beschreibung: Dienst zur Dokumentenwaltung der Fachanwendung ePA/ePF
        Version=2.0.1
    </wsdl:documentation>
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://ws.gematik.de/conn/phrs/PHRService/v2.0" schemaLocation="PHRService_V2_0.xsd"/>
			<xsd:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0" schemaLocation="../../ext/ebRS/query.xsd"/>
			<xsd:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" schemaLocation="../../ext/ebRS/rs.xsd"/>
			<xsd:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0" schemaLocation="../../ext/ebRS/lcm.xsd"/>
			<xsd:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" schemaLocation="../../ext/ebRS/rim.xsd"/>
			<xsd:import namespace="urn:ihe:iti:xds-b:2007" schemaLocation="../../ext/IHE/XDS.b_DocumentRepository.xsd"/>
			<xsd:import namespace="urn:ihe:iti:rmd:2017" schemaLocation="../../ext/IHE/RMD.xsd"/>
			<xsd:import namespace="http://www.w3.org/2006/05/addressing/wsdl" schemaLocation="../../ext/ws-addr-wsdl.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="RegistryStoredQuery_Message">
		<wsdl:documentation>Registry Stored Query</wsdl:documentation>
		<wsdl:part name="headerPart" element="phrs:ContextHeader"/>
		<wsdl:part name="bodyPart" element="query:AdhocQueryRequest"/>
	</wsdl:message>
	<wsdl:message name="RegistryStoredQueryResponse_Message">
		<wsdl:documentation>Registry Stored Query Response</wsdl:documentation>
		<wsdl:part name="bodyPart" element="query:AdhocQueryResponse"/>
	</wsdl:message>
	<wsdl:message name="RetrieveDocumentSet_Message">
		<wsdl:part name="headerPart" element="phrs:ContextHeader"/>
		<wsdl:part name="bodyPart" element="ihe:RetrieveDocumentSetRequest"/>
	</wsdl:message>
	<wsdl:message name="RetrieveDocumentSetResponse_Message">
		<wsdl:part name="bodyPart" element="ihe:RetrieveDocumentSetResponse"/>
	</wsdl:message>
	<wsdl:message name="ProvideAndRegisterDocumentSet-b_Message">
		<wsdl:part name="headerPart" element="phrs:ContextHeader"/>
		<wsdl:part name="bodyPart" element="ihe:ProvideAndRegisterDocumentSetRequest"/>
	</wsdl:message>
	<wsdl:message name="ProvideAndRegisterDocumentSet-bResponse_Message">
		<wsdl:part name="bodyPart" element="rs:RegistryResponse"/>
	</wsdl:message>
	<wsdl:message name="DeleteDocumentSet_Message">
		<wsdl:part name="headerPart" element="phrs:ContextHeader"/>
		<wsdl:part name="bodyPart" element="lcm:RemoveObjectsRequest"/>
	</wsdl:message>
	<wsdl:message name="DeleteDocumentSetResponse_Message">
		<wsdl:part name="bodyPart" element="rs:RegistryResponse"/>
	</wsdl:message>
	<wsdl:portType name="PHRService_PortType">
		<wsdl:operation name="DocumentRegistry_RegistryStoredQuery">
			<wsdl:input message="phrsWSDL:RegistryStoredQuery_Message" wsaw:Action="urn:ihe:iti:2007:RegistryStoredQuery"/>
			<wsdl:output message="phrsWSDL:RegistryStoredQueryResponse_Message" wsaw:Action="urn:ihe:iti:2007:RegistryStoredQueryResponse"/>
		</wsdl:operation>
		<wsdl:operation name="DocumentRepository_RetrieveDocumentSet">
			<wsdl:input message="phrsWSDL:RetrieveDocumentSet_Message" wsaw:Action="urn:ihe:iti:2007:RetrieveDocumentSet"/>
			<wsdl:output message="phrsWSDL:RetrieveDocumentSetResponse_Message" wsaw:Action="urn:ihe:iti:2007:RetrieveDocumentSetResponse"/>
		</wsdl:operation>
		<wsdl:operation name="DocumentRepository_ProvideAndRegisterDocumentSet-b">
			<wsdl:input message="phrsWSDL:ProvideAndRegisterDocumentSet-b_Message" wsaw:Action="urn:ihe:iti:2007:ProvideAndRegisterDocumentSet-b"/>
			<wsdl:output message="phrsWSDL:ProvideAndRegisterDocumentSet-bResponse_Message" wsaw:Action="urn:ihe:iti:2007:ProvideAndRegisterDocumentSet-bResponse"/>
		</wsdl:operation>
		<wsdl:operation name="DocumentRegistry_DeleteDocumentSet">
			<wsdl:input message="phrsWSDL:DeleteDocumentSet_Message" wsaw:Action="urn:ihe:iti:2010:DeleteDocumentSet"/>
			<wsdl:output message="phrsWSDL:DeleteDocumentSetResponse_Message" wsaw:Action="urn:ihe:iti:2010:DeleteDocumentSetResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PHRService_Binding_Soap12" type="phrsWSDL:PHRService_PortType">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsaw:UsingAddressing wsdl:required="true"/>
		<wsdl:operation name="DocumentRegistry_RegistryStoredQuery">
			<soap12:operation soapAction="urn:ihe:iti:2007:RegistryStoredQuery" soapActionRequired="false"/>
			<wsdl:input>
				<soap12:header message="phrsWSDL:RegistryStoredQuery_Message" part="headerPart" use="literal"/>
				<soap12:body parts="bodyPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DocumentRepository_ProvideAndRegisterDocumentSet-b">
			<soap12:operation soapAction="urn:ihe:iti:2007:ProvideAndRegisterDocumentSet-b" soapActionRequired="false"/>
			<wsdl:input>
				<soap12:header message="phrsWSDL:ProvideAndRegisterDocumentSet-b_Message" part="headerPart" use="literal"/>
				<soap12:body parts="bodyPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DocumentRepository_RetrieveDocumentSet">
			<soap12:operation soapAction="urn:ihe:iti:2007:RetrieveDocumentSet" soapActionRequired="false"/>
			<wsdl:input>
				<soap12:header message="phrsWSDL:RetrieveDocumentSet_Message" part="headerPart" use="literal"/>
				<soap12:body parts="bodyPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DocumentRegistry_DeleteDocumentSet">
			<soap12:operation soapAction="urn:ihe:iti:2010:DeleteDocumentSet" soapActionRequired="false"/>
			<wsdl:input>
				<soap12:header message="phrsWSDL:DeleteDocumentSet_Message" part="headerPart" use="literal"/>
				<soap12:body parts="bodyPart" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PHRService">
		<wsdl:port name="PHRService_Port_Soap12" binding="phrsWSDL:PHRService_Binding_Soap12">
			<soap12:address location="http://servicelocation/PHRService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
