conn/CardService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- gematik revision="\main\rel_online\rel_ors1\5" -->
<!-- ===================================================================== -->
<!-- 	                    Copyright (C) 2014 gematik. Alle Rechte vorbehalten.                                 -->
<!-- ===================================================================== -->
<!-- Version History
            version: V8.1.0
			===========
			***Anpassungen in CardService.xsd
            ***Operation AuthorizeSMC ergänzt
	 End of Version History-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:CARD="http://ws.gematik.de/conn/CardService/v8.1" xmlns:CARDW="http://ws.gematik.de/conn/CardService/WSDL/v8.1" xmlns:CCTX="http://ws.gematik.de/conn/ConnectorContext/v2.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:GERROR="http://ws.gematik.de/tel/error/v2.0" targetNamespace="http://ws.gematik.de/conn/CardService/WSDL/v8.1">
	<documentation>
		Copyright (c) 2014, gematik - Gesellschaft für Telematikanwendungen der Gesundheitskarte mbH. Alle Rechte vorbehalten.
		Beschreibung: Dienst zur Verwaltung der Karten
		version=8.1.0
	</documentation>
	<types>
		<xs:schema xmlns="http://www.w3.org/2001/XMLSchema">
			<xs:import schemaLocation="CardService.xsd" namespace="http://ws.gematik.de/conn/CardService/v8.1"/>
			<xs:import schemaLocation="ConnectorContext.xsd" namespace="http://ws.gematik.de/conn/ConnectorContext/v2.0"/>
			<xs:import schemaLocation="../tel/error/TelematikError.xsd" namespace="http://ws.gematik.de/tel/error/v2.0"/>
		</xs:schema>
	</types>
	<message name="VerifyPinRequestMessage">
		<part name="parameter" element="CARD:VerifyPin"/>
	</message>
	<message name="VerifyPinResponseMessage">
		<part name="parameter" element="CARD:VerifyPinResponse"/>
	</message>
	<message name="ChangePinRequestMessage">
		<part name="parameter" element="CARD:ChangePin"/>
	</message>
	<message name="ChangePinResponseMessage">
		<part name="parameter" element="CARD:ChangePinResponse"/>
	</message>
	<message name="UnblockPinRequestMessage">
		<part name="parameter" element="CARD:UnblockPin"/>
	</message>
	<message name="UnblockPinResponseMessage">
		<part name="parameter" element="CARD:UnblockPinResponse"/>
	</message>
	<message name="GetPinStatusRequestMessage">
		<part name="parameter" element="CARD:GetPinStatus"/>
	</message>
	<message name="GetPinStatusResponseMessage">
		<part name="parameter" element="CARD:GetPinStatusResponse"/>
	</message>
	<message name="AuthorizeSmcRequestMessage">
		<part name="parameter" element="CARD:AuthorizeSmc"/>
	</message>
	<message name="AuthorizeSmcResponseMessage">
		<part name="parameter" element="CARD:AuthorizeSmcResponse"/>
	</message>
	<message name="FaultMessage">
		<part name="parameter" element="GERROR:Error"/>
	</message>
	<portType name="CardServicePortType">
		<operation name="VerifyPin">
			<input message="CARDW:VerifyPinRequestMessage"/>
			<output message="CARDW:VerifyPinResponseMessage"/>
			<fault name="FaultMessage" message="CARDW:FaultMessage"/>
		</operation>
		<operation name="ChangePin">
			<input message="CARDW:ChangePinRequestMessage"/>
			<output message="CARDW:ChangePinResponseMessage"/>
			<fault name="FaultMessage" message="CARDW:FaultMessage"/>
		</operation>
		<operation name="UnblockPin">
			<input message="CARDW:UnblockPinRequestMessage"/>
			<output message="CARDW:UnblockPinResponseMessage"/>
			<fault name="FaultMessage" message="CARDW:FaultMessage"/>
		</operation>
		<operation name="GetPinStatus">
			<input message="CARDW:GetPinStatusRequestMessage"/>
			<output message="CARDW:GetPinStatusResponseMessage"/>
			<fault name="FaultMessage" message="CARDW:FaultMessage"/>
		</operation>
		<operation name="AuthorizeSMC">
			<input message="CARDW:AuthorizeSmcRequestMessage"/>
			<output message="CARDW:AuthorizeSmcResponseMessage"/>
			<fault name="FaultMessage" message="CARDW:FaultMessage"/>
		</operation>
	</portType>
	<binding name="CardServiceBinding" type="CARDW:CardServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="VerifyPin">
			<soap:operation soapAction="http://ws.gematik.de/conn/CardService/v8.1#VerifyPin"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="ChangePin">
			<soap:operation soapAction="http://ws.gematik.de/conn/CardService/v8.1#ChangePin"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="UnblockPin">
			<soap:operation soapAction="http://ws.gematik.de/conn/CardService/v8.1#UnblockPin"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="GetPinStatus">
			<soap:operation soapAction="http://ws.gematik.de/conn/CardService/v8.1#GetPinStatus"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="AuthorizeSMC">
			<soap:operation soapAction="http://ws.gematik.de/conn/CardService/v8.1#AuthorizeSMC"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="CardService">
		<port name="CardServicePort" binding="CARDW:CardServiceBinding">
			<soap:address location="http://ti-konnektor/cardservice"/>
		</port>
	</service>
</definitions>
