conn/EventService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- gematik revision="\main\rel_online\rel_ors1\rel_ors2\3" -->
<!-- Mit XMLSpy v2014 rel. 2 sp1 (http://www.altova.com) von Gematik GmbH (Gematik) bearbeitet -->
<!-- ===================================================================== -->
<!-- 	                    Copyright (C) 2014 gematik. Alle Rechte vorbehalten.                                 -->
<!-- ===================================================================== -->
<!-- Version History

			version: V7.2.1
			===========
			*** P14.8: C_6044 Value restriction relaxiert

			version: V7.2.0
			===========
			*** P12: C_4571 Mapping Event- auf Error-Type korrigiert

            version: V7.1.0
			===========
			*** CardService update von 8.0 auf 8.1
            *** Typ TerminationTime von date auf datetime korrigiert
            *** Context in RenewSubscription ergänzt

	 End of Version History-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:EVT="http://ws.gematik.de/conn/EventService/v7.2" xmlns:CONN="http://ws.gematik.de/conn/ConnectorCommon/v5.0" xmlns:CCTX="http://ws.gematik.de/conn/ConnectorContext/v2.0" xmlns:CARD="http://ws.gematik.de/conn/CardService/v8.1" xmlns:CT="http://ws.gematik.de/conn/CardTerminalInfo/v8.0" xmlns:CARDCMN="http://ws.gematik.de/conn/CardServiceCommon/v2.0" xmlns:HSM="http://ws.gematik.de/conn/HsmInfo/v8.0" targetNamespace="http://ws.gematik.de/conn/EventService/v7.2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="7.2.1">
	<annotation>
		<documentation xml:lang="de">
			Copyright (c) 2014, gematik - Gesellschaft für
			Telematikanwendungen der Gesundheitskarte mbH. Alle Rechte
			vorbehalten. Beschreibung: Schema-Beschreibung für den
			Ereignisdienst
		</documentation>
	</annotation>
	<import namespace="http://ws.gematik.de/conn/ConnectorCommon/v5.0" schemaLocation="ConnectorCommon.xsd"/>
	<import namespace="http://ws.gematik.de/conn/ConnectorContext/v2.0" schemaLocation="ConnectorContext.xsd"/>
	<import namespace="http://ws.gematik.de/conn/CardService/v8.1" schemaLocation="CardService.xsd"/>
	<import namespace="http://ws.gematik.de/conn/CardTerminalInfo/v8.0" schemaLocation="CardTerminalInfo.xsd"/>
	<import namespace="http://ws.gematik.de/conn/CardServiceCommon/v2.0" schemaLocation="CardServiceCommon.xsd"/>
	<simpleType name="SubscriptionIDType">
		<annotation>
			<documentation>Typ des Subscription-Identifikators		</documentation>
		</annotation>
		<restriction base="string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>
	<simpleType name="TopicType">
		<annotation>
			<documentation>Topic-Name</documentation>
		</annotation>
		<restriction base="string">
			<maxLength value="1024"/>
		</restriction>
	</simpleType>
	<simpleType name="FilterType">
		<annotation>
			<documentation>Topic-Filterausdruck</documentation>
		</annotation>
		<restriction base="string">
			<maxLength value="1024"/>
		</restriction>
	</simpleType>
	<simpleType name="EventType">
		<annotation>
			<documentation>Typ eine Ereignis</documentation>
		</annotation>
		<restriction base="token">
			<enumeration value="Operation"/>
			<enumeration value="Security"/>
			<enumeration value="Infrastructure"/>
			<enumeration value="Business"/>
			<enumeration value="Other"/>
		</restriction>
	</simpleType>
	<simpleType name="EventSeverityType">
		<annotation>
			<documentation>Schwere einer Ereignis</documentation>
		</annotation>
		<restriction base="token">
			<enumeration value="Info"/>
			<enumeration value="Warning"/><enumeration value="Error"/>
			
			<enumeration value="Fatal"/>
		</restriction>
	</simpleType>
	<element name="SubscriptionID" type="EVT:SubscriptionIDType">
		<annotation>
			<documentation>Eindeutiger ID, geniert durch den Konnektor für die Identifikation einer Anmeldung</documentation>
		</annotation>
	</element>
	<element name="Event">
		<annotation>
			<documentation>Die Beschreibung der Ereignisstruktur, die einem Clientsystem über dessen Ereignissenke zugestellt wird</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Topic" type="EVT:TopicType">
					<annotation>
						<documentation>
							Gibt an, welches Topic als Ereignis gemeldet
							wurde. Der Inhalt des Ereignisses steht
							unter dem Element Message
						</documentation>
					</annotation>
				</element>
				<element name="Type" type="EVT:EventType"/>
				<element name="Severity" type="EVT:EventSeverityType"/>
				<element ref="EVT:SubscriptionID"/>
				<element name="Message">
					<annotation>
						<documentation>
							Dieses Element enthält die Beschreibung des
							Ereignisses
						</documentation>
					</annotation>
					<complexType>
						<sequence>
							<element name="Parameter" minOccurs="0" maxOccurs="unbounded">
								<complexType>
									<sequence>
										<element name="Key">
											<simpleType>
												<restriction base="string">
													<maxLength value="64"/>
												</restriction>
											</simpleType>
										</element>
										<element name="Value">
											<simpleType>
												<restriction base="string">
													<maxLength value="5000"/>
												</restriction>
											</simpleType>
										</element>
									</sequence>
								</complexType>
							</element>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="Subscribe">
		<annotation>
			<documentation>Anmelden für die Zustellung von Ereignissen</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="CCTX:Context"/>
				<element ref="EVT:Subscription"/>
			</sequence>
		</complexType>
	</element>
	<element name="SubscribeResponse">
		<annotation>
			<documentation>Antwort der Operation Subscribe</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="CONN:Status"/>
				<element ref="EVT:SubscriptionID"/>
				<element ref="EVT:TerminationTime"/>
			</sequence>
		</complexType>
	</element>
	<element name="SubscriptionRenewal">
		<complexType>
			<sequence>
				<element ref="EVT:SubscriptionID"/>
				<element ref="EVT:TerminationTime"/>
			</sequence>
		</complexType>
	</element>
	<element name="Unsubscribe">
		<annotation>
			<documentation>Abmelden für die Zustellung von Ereignissen</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="CCTX:Context"/>
				<choice>
					<element ref="EVT:SubscriptionID"/>
					<element ref="EVT:EventTo"/>
				</choice>
			</sequence>
		</complexType>
	</element>
	<element name="UnsubscribeResponse">
		<annotation>
			<documentation>Antwort der Operation Unsubscribe</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="CONN:Status"/>
			</sequence>
		</complexType>
	</element>
	<element name="GetSubscription">
		<annotation>
			<documentation>Abfragen der Anmeldungen</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="CCTX:Context"/>
				<element ref="EVT:SubscriptionID" minOccurs="0"/>
			</sequence>
			<attribute name="mandant-wide" type="boolean" use="optional" default="false"/>
		</complexType>
	</element>
	<element name="GetSubscriptionResponse">
		<annotation>
			<documentation>Antwort des Aufrufs GetStatus</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="CONN:Status"/>
				<element name="Subscriptions">
					<complexType>
						<sequence>
							<element ref="EVT:Subscription" minOccurs="0" maxOccurs="unbounded"/>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="GetResourceInformation">
		<annotation>
			<documentation>Abfrage von Informationen einer Ressource (KT, Karte)</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="CCTX:Context"/>
				<element ref="CARDCMN:CtId" minOccurs="0"/>
				<element ref="CARDCMN:SlotId" minOccurs="0"/>
				<element ref="CARDCMN:Iccsn" minOccurs="0"/>
				<element ref="CONN:CardHandle" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<element name="GetResourceInformationResponse">
		<annotation>
			<documentation>Antwort des Aufrufs GetResourceInformation</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="CONN:Status"/>
				<element ref="CARD:Card" minOccurs="0"/>
				<element ref="CT:CardTerminal" minOccurs="0"/>
				<element ref="CONN:Connector" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<element name="GetCards">
		<annotation>
			<documentation>Abfragen der in Kartenterminals verfügbaren Karten</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="CCTX:Context"/>
				<element ref="CARDCMN:CtId" minOccurs="0"/>
				<element ref="CARDCMN:SlotId" minOccurs="0"/>
				<element ref="CARDCMN:CardType" minOccurs="0"/>
			</sequence>
			<attribute name="mandant-wide" type="boolean" use="optional" default="false"/>
		</complexType>
	</element>
	<element name="GetCardsResponse">
		<annotation>
			<documentation>Antwort des Aufrufs GetCards</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="CONN:Status"/>
				<element ref="CARD:Cards"/>
			</sequence>
		</complexType>
	</element>
	<element name="GetCardTerminals">
		<complexType>
			<sequence>
				<element ref="CCTX:Context"/>
			</sequence>
			<attribute name="mandant-wide" type="boolean" use="optional" default="false"/>
		</complexType>
	</element>
	<element name="GetCardTerminalsResponse">
		<annotation>
			<documentation>Antwort des Aufrufs GetCardTerminals</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="CONN:Status"/>
				<element ref="CT:CardTerminals"/>
			</sequence>
		</complexType>
	</element>
	<complexType name="SubscriptionType">
		<sequence>
			<element ref="EVT:SubscriptionID" minOccurs="0"/>
			<element ref="EVT:TerminationTime" minOccurs="0"/>
			<element ref="EVT:EventTo"/>
			<element name="Topic" type="EVT:TopicType"/>
			<element name="Filter" type="EVT:FilterType" minOccurs="0"/>
		</sequence>
	</complexType>
	<element name="Subscription" type="EVT:SubscriptionType"/>
	<element name="TerminationTime" type="dateTime">
		<annotation>
			<documentation>Gültigkeitsende einer Ressource</documentation>
		</annotation>
	</element>
	<element name="EventTo">
		<simpleType>
			<restriction base="anyURI">
				<pattern value="cetp://.*"/>
			</restriction>
		</simpleType>
	</element>
	<element name="RenewSubscriptions">
		<annotation>
			<documentation>Verlängern der Gültigkeit einer oder mehrerer Subscriptions</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="CCTX:Context"/>
				<element ref="EVT:SubscriptionID" maxOccurs="1000"/>
			</sequence>
		</complexType>
	</element>
	<element name="RenewSubscriptionsResponse">
		<annotation>
			<documentation>Antwort des Aufrufs RenewSubscription</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="CONN:Status"/>
				<element name="SubscribeRenewals">
					<complexType>
						<sequence>
							<element ref="EVT:SubscriptionRenewal" maxOccurs="1000"/>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>
